.a-z-sitemap {
  
  .sitemap-header {
    
    background-color: $brand-grey-darker;
    display: block;
    padding: 0.7em;
    margin-bottom: -15px;
    text-align: center;
    
  }
  
  .a-z-panel {
    
    background-color: $brand-grey;
    padding: 0.7em;
    
  }
  
  margin-bottom: 2em;
}