// Alphanumerical buttons. Five in a row

.btn-fifth {
  
  width: 19%;
  margin-right: 3px;
  
}

.btn-wire {
  
  border: 1px solid;
  
}

.btn-nav {

  margin: 12px;

}

// Space for a grouup of buttons with a search input below

.btn-group-search {
  
  margin: 0.3em 0;
  
}