.navigation-sidebar {
  
  padding-right: 1em;
  margin-top: 3em;
  
}

.page-wrapper {
  
  margin-top: 3em;
  
}

.page-header {}

.page-content {}

.page-advert-sidebar {
  
  margin-top: 3em;
  
}