/*  GLOBAL STYLES
-------------------------------------------------- */

.wrapper {
    position: relative;
    margin: 0 0 -920px;
    height: auto;
    min-height: 100%;
}
.main {
    margin-top: 20px;
}
.main iframe {
    /* Responsive iFrames - see script in main.js */
    max-width: 100%;
    height: auto
}
hr.compact {
    border-top-color: #eeeeee;
    margin-top: 0;
    margin-bottom: 10px;
}

/*  HELPER CLASSES
-------------------------------------------------- */

.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
    -webkit-padding-start: 0;
}
.padded {
    padding: 10px;
}
.padded-sides {
    padding-left: 10px;
    padding-right: 10px;
}
.padded-more {
    padding: 25px;
}
.section-padded {
    padding-top: 50px;
    padding-bottom: 30px;
}
.rounded-corners {
    border-radius: 4px;
}
.bg-grey {
    background: $brand-grey;
}
.bg-dark-grey {
    background: darken($brand-grey, 10%);
}
.bg-white {
    background: #ffffff;
}
.border-grey {
    border: 1px solid $brand-grey;
}
.drop-shadow {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
            box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
.drop-shadow-inverse {
    -webkit-box-shadow: -1px -1px 0 rgba(0,0,0,0.2);
            box-shadow: -1px -1px 0 rgba(0,0,0,0.2);
}
.no-bullets {
    list-style-type: none;
}
.constrain-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


    
    



/*  BOOTSTRAP COMPONENTS
-------------------------------------------------- */

hr {
    border-top-color: #cccccc;
}

a.badge,
a.badge:visited {
    color: #ffffff;
}
a.badge:active,
a.badge:focus,
a.badge:hover {
    color: #ffffff;
}

.pagination > .active > a, 
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #394959;
    border-color: #394959;
}
.pagination > li > a,
.pagination > li > span {
    color: #394959;
    position: static;
}




/*  BOOTSTRAP TOUR
-------------------------------------------------- */
.popover.tour-tour {
    background: #ffffff;
    border: 3px solid #00A3D7;
    color: #06325F;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
            box-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}
.tour-tour .popover-title {
    background: transparent;
    border-bottom: 1px solid #ffffff;
    color: #00A3D7;
    padding-bottom: 0;
}
.tour-tour.popover.top > .arrow:after {
    border-top-color: #00A3D7;
}
.tour-tour.popover.bottom > .arrow:after {
    border-bottom-color: #00A3D7;
}
.tour-tour.popover .btn,
.tour-tour.popover .btn:visited {
    background: rgb(0, 148, 191);
    line-height: 20px;
    padding: 12px 8px;
    margin-right: 2px;
    color: #ffffff;
}
.search-results .tour-tour.popover button.btn {
    margin-bottom: 10px;
}
.tour-tour.popover .btn:active,
.tour-tour.popover .btn:focus,
.tour-tour.popover .btn:hover {
    color: #ffffff;
}
.tour-tour.popover .btn .pe-lg {
    vertical-align: -18%;
}
.tour-tour.popover span {
    margin-bottom: 10px;
}
.tour-tour .popover-navigation {
    padding-left: 14px;
    padding-right: 14px;
}
.tour-tour .end-tour {
    margin-bottom: 15px;
}
#product-tour-help,
#product-tour-help:visited {
    color: #333;
}
.search-help {
    margin-bottom: 20px;
}
.search-help hr {
    border-top: 1px solid #ccc;
}
    

/*  WORDPRESS-GENERATED CLASSES
-------------------------------------------------- */
.aligncenter {
    display: block;
    margin: 0 auto;
}
.alignleft {
    float: left;
    margin: 3px 20px 20px 0
}
.alignright {
    float: right;
    margin: 3px 0 20px 20px
}
.alignnone {
    margin-left: 0;
    margin-right: 0
}
.entry-content-asset {
    width: 50%;
    height: auto;
    float: left;
    margin: 5px 20px 10px 0;
    position: relative;
    z-index: 99
}
.thumbnail {
    float: left
}
.page-header {
    border: none;
    margin: 0;
}
.entry-title {
    padding-bottom:11px;
    margin-bottom:6px;
    border-bottom:1px solid #eee
}




/*  NAVIGATION ICONS AND COLOUR-CODING
-------------------------------------------------- */

.home-page .colour-code {
    background: #00A5D5;
}
.colour-code {
    background: #06325F;
    position: relative;
}
.buddypress .colour-code {
    background: #0077C3;
}

/*  HOME */
.navbar-default #staffnet-nav .navbar-nav li.menu-home > a {
    padding-left: 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAA4VBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+sqgLzAAAASnRSTlMAAQIDBAUGCgsNDhESEx4hIyotLjAxMjg5RUZMTlZXWVxdXmRncHd7foCDiZSXnZ6iqquvsLS5vsDFyMrO0dPa3N7g7e/x8/X3+VA+mOEAAADgSURBVChTzc/ZTsJQFEbhv6ccEKsVxzorIOKAs1JRsSCCZb3/A3kBJqWtiTdG193Ol+zsLf2XnNrjsStpOQzDi4zaB6BblvYA0rrYB2BYyeWNMXT8DrB7kOU60DLGtIBRms0lcKjNOFCVSQmde4F4RQ2godU4xUvvEHmFGwBuC15vhneAO+tF063Rgr0H9ifonAFNZy3mq/G60wTOHUnFNrClOsmOtA20i9IbDHz3itmuXX8AfanGU6ncJd3rfOmZqqTAaJRR+JAJpqfnaPLvH7K11trvOTv8OZ/m8Il+u0/uFGzRbMEA/AAAAABJRU5ErkJggg==);
}

/*  GROUPs */
.navbar-default #staffnet-nav .navbar-nav li.menu-groups > a {
    padding-left: 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAA2FBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8lb+eLAAAAR3RSTlMAAQIDBAYICQsMDREYICQlMDEyMzU7PElKUlhjZGt0dXl7g4mLjo+Sm52goqOmqq2vt7y+wMfO0dPV197g5Obo6fHz9ff5+44euz8AAAEoSURBVChTjdHZUsIwGAXgQ0MBBRSKu4K0oGhZVGRRtrCI5/3fyIumSTPU0XP153ydJJMCf8ZtylXT/a1xFyS5SLjV+CRJNg1bjYwWK8NWoxYSqIZShpVkk9hKDKKh71ibq4vklZL9vHVZ15fSdz3qVKIGAMSwVQQAdA2HAIBieyhwRXIaBGOsDUuMg2BK8hLPqrJZDU/4VFOuZzjMqeEDOzWd1wxXL9SwwTb+0HmJdeDEW27wGDVlB0L5QMApR4/wANGYk7eZ68nsBLXeet31cDqb3Ig7ct4Q0cNkhiTZKQFAqUOS7xmY1NVZu9EovmrdaPabB9lnNZ8dKulp9tP4XvNbGr9qlmm80LxP4y/NiZ9lIjW307il+XjLg2yPNKMQLG1cBgX8Iz+KfpW7wLZhSgAAAABJRU5ErkJggg==);
}

/*  FORUMS */
.navbar-default #staffnet-nav .navbar-nav li.menu-forums > a {
    padding-left: 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAA+VBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9BnGuhAAAAUnRSTlMAAQIDBAUGCAoLDg8REhMUGSMlKi8xNTg7PD0+QUNFS1FWWVtiZGlrbG1veXt8f4KMkZSXoKKjqq2vsrW5usHFx8rM19nc3uDi5u3x8/X3+fv9ftznYQAAAQBJREFUGBm1wXs/wlAABuD3aJspJUVsUahcYu7KJaaQWE17v/+H0dkvMe30F8+DvyLS+WK5XMynBaZodjPgWNC0Nfxk1IeMGNYNTNh9TvEsjDmMdYjQMRWOMGJRaQ1I9KnkzWGTM2zgipKfE0mXPNO0c9JNipxP6RI9ShUAWdIADDILoELpFQNK6wAWSAEI0gRgUfLwSKklgCq5AqySVUC0KLnYZ6hTa5AMHCcg2ah1GNpDhjMsAadUugCQeKZCT8eI2WWs9xRCxi1jtE18ueFvHzsCE21GvWzr+KYzdHfdHfi9+5NSBhFblHYRL+WTfFpGvMU38qEgoFA6KMzjX3wC6jqX+SeKo5kAAAAASUVORK5CYII=);
}

/*  SYSTEMS */
.navbar-default #staffnet-nav .navbar-nav li.menu-systems > a {
    padding-left: 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAALVBMVEUAAAD///////////////////////////////////////////////////////+hSKubAAAADnRSTlMAAQIEHkCLnbXr7fP1+WcZGccAAABPSURBVBjTY2CgOjDb9w4CXieD+XnvYOAZmH9OAKqQ6TWYegfX+W5Q8uHuZXyN1T9m56DcN8lYQuMdKmBYB6aeh9aB6ZcMHveQZN+2UDsyAOEEYovldHz+AAAAAElFTkSuQmCC);
}



/*  DEPARTMENTS */
.navbar-default #staffnet-nav .navbar-nav li.menu-departments > a {
    padding-left: 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAjVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8DizOFAAAALnRSTlMAAQIDBAUICRAUFhgZHC4wMTU3ODlVVltiaXF3goOFiYuqys/T19re4Ojp7/P588aQqgAAAJVJREFUKJHVkMcOwjAQBQenUENvpoXeef//eRxIpCiKfUJIzGm9swe/B0WSyXSMm6ekRmkXdPs5kjTL5l52t5CDEQAbl9bAr5V49T4E1k4bAQxf1XYXlXMbY4ynFklqflfPr/cMSXrkj9sSgJUzN0DqLg0wF6+mfvZq4qPDnj4/r7U6VbTDckRrrY1/Wupf6K10CIqLN6VqRIS0YNhqAAAAAElFTkSuQmCC);
}
.navbar-default #staffnet-nav .navbar-nav li.menu-departments.active > a,
.post-type-archive-departments .colour-code,
.single-departments .colour-code,
.post-type-archive-departments .category-pane .badge,
.pagetype .badge {
    background-color: #009933;
}

/*  DIRECTORY */
.navbar-default #staffnet-nav .navbar-nav li.menu-directory > a {
    padding-left: 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAllBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////AJcWoAAAAMXRSTlMAAQIDBAUGBwoMDhEUGRwfJygsMj9CRVFXWV5sc4Keq62wtL7HztfZ3uDm6fHz9/n76DfPPAAAANNJREFUGBmFwQdygzAABMAD4w5O4t57N0i+/3/OkgBTRprs4l/edCevPhy8PZUlHBbUZBtWrTeNDaxmzISwOTJzgk3C3AgWMXMRLA5MiV/YzGk8Q1j1qYkuHM5U7nCZUBvCoSGpPHw4rKit4dBMqA3gMKb26sBhS+0SwC64Ubt0kIlGKOvF1F4DGH/kKURJJGisfQChoLJpo/AjaDyG6D5pyKWPryhm6i6Yu6LQu7FOoiTYsmaHinHCiimqmivJwt5DXWNyZuq98GDTnx/i5DhrQfkA9nM0ivHdhXQAAAAASUVORK5CYII=);
}
.navbar-default #staffnet-nav .navbar-nav li.menu-directory.active > a,
.single-staff_contact .navbar-default #staffnet-nav .navbar-nav li.menu-directory > a {
    background-color: #0099FF;
}
.contacts .colour-code,
.single-staff_contact .colour-code {
    background: #0099FF;
}

/*  PEOPLE */
.navbar-default #staffnet-nav .navbar-nav li.menu-people > a {
    padding-left: 50px;
    background-image: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-people.png);
}

/*  DOCUMENTS */
.navbar-default #staffnet-nav .navbar-nav li.menu-documents > a {
    padding-left: 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAaVBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////8G612AAAAInRSTlMAAQIGBwgQERofISQ/S09QVW13eH6Fi4ymwNzo6evt8fX9akoR4QAAAIdJREFUKFPt0MkWgjAMheHb4ozgPKBU4b7/Q+oRNaEEdu78t19OelIAyztbXbcjqCJ9Vk4Uk4mXTlwXLSe9Gj5w4c8M4h2GOzJM+xnYiFuMFcN4gJFxZ/FezrN4dvu6xUBzf9LH76GInWRwqf487fJF8dxYHvV/+5dc0a5qOK9NrfPPImf1kgcGdCb3JN99OAAAAABJRU5ErkJggg==);
}
.navbar-default #staffnet-nav .navbar-nav li.menu-documents.active > a,
.single-resource .navbar-default #staffnet-nav .navbar-nav li.menu-resources > a {
    background-color: #05b7b0;
}
.page-template-page-template_resources-php .colour-code,
.colour-code.resource-search-results {
    background: #05b7b0;
}
.single-resource .colour-code {
    background: #05b7b0;
}

/*  NURSENET */
.navbar-default #staffnet-nav .navbar-nav li.menu-nursenet > a {
    padding-left: 50px;
    background-image: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-nursenet.png);
}
.navbar-default #staffnet-nav .navbar-nav li.menu-nursenet.active > a,
.post-type-archive-nursenet .colour-code,
.single-nursenet .colour-code,
.post-type-archive-nursenet .badge {
    background-color: #7B0158;
}

/*  NEWS */
.navbar-default #staffnet-nav .navbar-nav li.menu-news > a {
    padding-left: 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAUVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////8IN+deAAAAGnRSTlMAAQQFERchLjpMUWJkhqKmt77H197g4ujr7RWmplsAAAB1SURBVChTzZDZDoAgDASLeN/1QO3/f6gGxURTBJ90XrbJhC0A8DGtjUprsoFwBIuH7qTcIkQDxGbQeo/o3AeJGS46131It/K32lHOX823nNePD3N8C4v3acduW/k4CEkNawOqoSC10IwcE6UgSkUW+owt/QkrD4ododUKtM8AAAAASUVORK5CYII=);
}
.navbar-default #staffnet-nav .navbar-nav li.menu-news.active > a,
.single-news .navbar-default #staffnet-nav .navbar-nav li.menu-news > a {
    background-color: #06325F;
}

/*  RESOURCES */
.navbar-default #staffnet-nav .navbar-nav li.menu-resources > a {
    padding-left: 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAA6lBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+Le70HAAAATXRSTlMAAQIDBAUGBwgJDg8QFRkaLS4vMTY3R0xPUVJVVl9hZmtvcHFzdHd5e36FiIySoqOlpqiqq621t7m6vL7AwcPFyMrc3uLk5vP19/n7/VlrbqcAAAEPSURBVCiRfdLXVsJAFIXhP0MRsMaOvYLYECwoig1s4H7/1/EiMyQmJPvqZL7MWmdmDriYhf27/s+gW1vOk0jpcKhxzioxXRvpX3a9CJpmsDjreV4xKHvFUHt2TwHA1u9Tjq80gfVqAl3XRFYdgHLY1bbv+6thf3MANaXlGsiNUlkVWHR1M+gkF+ENOHL1qT1HhFvwkMFfMHD1ZZLlEXmJ2Lkl5fnIYo9uBn/DcQa3YSmDNyH3m87TwImtb0zwgsY07MotQNlud9cCW5bnAaimcMN+tiVJF2PekSS9GTdrz5Kkx06Q+5Ek9UvhLLYUz8t4EgGqsaHYi845UK5FfjifIRHjH3QGw8+n+kohiSn5A393nmSBUsV5AAAAAElFTkSuQmCC);
}
.navbar-default #staffnet-nav .navbar-nav li.menu-resources.active > a,
.single-news .navbar-default #staffnet-nav .navbar-nav li.menu-news > a {
    background-color: #06325F;
}


/*  EVENTS */
.post-type-archive-event .colour-code,
.single-event .colour-code {
    background: #66cc33;
}


/*  LEARNING & DEVELOPMENT */
.navbar-default #staffnet-nav .navbar-nav li.menu-learning-development > a {
    padding-left: 50px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAABF1BMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////jvJXZAAAAXHRSTlMAAQIDBAUHCAsMDQ8QEhQVGBkbHB0eISMnKCorLS80Njg7PD1CREdKTFRVV1hZXF9ibG1vdHd5fIKDhoyOmpueo6WosrW5ury+wMHIzs/T19zg4uTr7/Hz9/n7/aSWqmIAAADkSURBVBgZ1cGHWoJQAAbQ/4IBWaFWaMvKhjZt2NCW2aallqbS//7PkVlx4bP7AJ6DARHfrVaWTPxHpA4b7LlfiyIskj5rM+A1H8Mfc7nCfu8FRwDIulRpFUeQPG5S4WnDQNd4mf2uVy38unuZ2H6m5J0vDMEX5yyA4dwtv7VKMxqCVqhbJ4sWYGQuCo6ASKzvQzptixjJ+lHaBOzcpUe68E2ROw5/fHjsqcGXIremGdaB5FIbY9gNpAZNTD5Q+jzQ4dPIBIDRbOnxrdOsXu3NRRAQJeehliQ3oZYhi1DTbdvA4PkCdY9ccbanVQoAAAAASUVORK5CYII=);
}
.post-type-archive-learning .colour-code,
.single-learning .colour-code,
.post-type-archive-learning .badge {
    background-color: #BE110F;
}

/*  PERFORMANCE */
.navbar-default #staffnet-nav .navbar-nav li.menu-performance > a {
    padding-left: 90px;
    background-image: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-performance.png);
    background-position: 40px center;
}
.post-type-archive-performance .colour-code
.single-performance .colour-code,
.post-type-archive-performance .badge {
    background-color: #E95D00;
}

/*  STAFFROOM */
.navbar-default #staffnet-nav .navbar-nav li.menu-staffroom > a {
    padding-left: 90px;
    background-image: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-staffroom.png);
    background-position: 40px center;
}
.post-type-archive-staffroom .colour-code,
.single-staffroom .colour-code,
.post-type-archive-staffroom .badge {
    background-color: #9E2244;
}
.buddypress.staffroom .breadcrumbs {
    display: none;
}

/*  THANK YOU'S */
.navbar-default #staffnet-nav .navbar-nav li.menu-thank-yous > a {
    padding-left: 90px;
    background-image: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-thanks.png);
    background-position: 40px center;
}
.post-type-archive-thanks .colour-code,
.single-thanks .colour-code {
    background: #FFC300;
 }   


/*  BOOKMARKS
-------------------------------------------------- */
.upb_del_bookmark,
.upb_del_bookmark:visited {
    color: #7B0158;
}
.upb_add_bookmark,
.upb_add_bookmark:visited {
    color: #aaaaaa;
}
.upb_bookmark_control:active,
.upb_bookmark_control:focus,
.upb_bookmark_control:hover {
    color: #7B0158;
}


/*  ARCHIVES CALENDAR WIDGET
-------------------------------------------------- */

.calendar-archives.arw-theme1 {
    position: relative;
    width: 100%;
}
.calendar-archives.arw-theme1 * {
    -webkit-box-sizing: border-box !important;
       -moz-box-sizing: border-box !important;
            box-sizing: border-box !important;
}
.calendar-archives.arw-theme1 ul {
    margin: 0;
    padding: 0;
}
.calendar-archives.arw-theme1 a {
    text-decoration: none;
}
.calendar-archives.arw-theme1 .archives-years {
    position: relative;
    overflow: hidden;
}
.calendar-archives.arw-theme1 .calendar-navigation {
    position: relative;
    width: 100%;
    height: 30px;
    background: #eeeeee;
    margin-bottom: 1px;
}
.calendar-archives.arw-theme1 .calendar-navigation * {
    line-height: 30px;
}
.calendar-archives.arw-theme1 .calendar-navigation .prev-year,
.calendar-archives.arw-theme1 .calendar-navigation .next-year {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #394959;
    font-size: 18px;
    line-height: 100%;
}
.calendar-archives.arw-theme1 .calendar-navigation .prev-year:hover,
.calendar-archives.arw-theme1 .calendar-navigation .next-year:hover {
    background: #dddddd;
}
.calendar-archives.arw-theme1 .calendar-navigation .prev-year.disabled,
.calendar-archives.arw-theme1 .calendar-navigation .next-year.disabled {
    opacity: 0.4;
    cursor: default;
}
.calendar-archives.arw-theme1 .calendar-navigation .prev-year.disabled:hover,
.calendar-archives.arw-theme1 .calendar-navigation .next-year.disabled:hover {
    background: 0;
}
.calendar-archives.arw-theme1 .calendar-navigation .prev-year {
    left: 0;
    border-right: 1px #eeeeee solid;
}
.calendar-archives.arw-theme1 .calendar-navigation .next-year {
    right: 0;
    border-left: 1px #eeeeee solid;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container {
    position: absolute;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    text-align: center;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container.months {
    width: 160px;
    margin-left: -80px;
    text-transform: capitalize;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container:hover {
    background: #dddddd;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container a.title {
    display: block;
    width: 100%;
    color: #394959;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container .arrow-down {
    color: #394959;
    position: absolute;
    width: 24px;
    height: 30px;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 10px;
    border-left: none;
    font-family: 'Overpass',sans-serif;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container .arrow-down:hover {
    background: #dddddd;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container .menu {
    position: absolute;
    overflow: hidden;
    display: none;
    z-index: 999;
    top: 0;
    width: 100%;
    background: #fff;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container .menu a {
    display: block;
    color: #707070;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container .menu a:hover {
    background: #57B628;
    color: #FFF;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container .menu a.selected {
    background: #66CC33;
    color: #FFF;
}
.calendar-archives.arw-theme1 .calendar-navigation .menu-container .menu a.selected:hover {
    background: #57B628 !important;
    background: 0;
    text-decoration: none;
    cursor: default;
}
.calendar-archives.arw-theme1 .year {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -100%;
    width: 100%;
    z-index: 0;
    background: #eeeeee;
}
.calendar-archives.arw-theme1 .year .year-link {
    display: none;
}
.calendar-archives.arw-theme1 .year.last {
    position: relative;
}
.calendar-archives.arw-theme1 .year.current {
    margin-left: 0;
    z-index: 1;
}
.calendar-archives.arw-theme1 .month,
.calendar-archives.arw-theme1 .day {
    float: left;
    overflow: hidden;
    display: block;
    position: relative;
    background: #eeeeee;
    border-bottom: 1px #eeeeee solid;
    border-right: 1px #eeeeee solid;
    color: #394959;
}
.calendar-archives.arw-theme1 .month.has-posts a,
.calendar-archives.arw-theme1 .day.has-posts a {
    background: #66CC33;
    color: #FFF;
    display: block;
    width: 100%;
    height: 100%;
}
.calendar-archives.arw-theme1 .month.has-posts a:hover,
.calendar-archives.arw-theme1 .day.has-posts a:hover {
    background: #57B628;
}
.calendar-archives.arw-theme1 .month.last,
.calendar-archives.arw-theme1 .day.last {
    border-right: 0!important;
}
.calendar-archives.arw-theme1 .month {
    width: 25%;
    height: 50px;
}
.calendar-archives.arw-theme1 .month .month-name {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    display: block;
    position: absolute;
    top: 6px;
    left: 8px;
}
.calendar-archives.arw-theme1 .month .postcount {
    display: block;
    position: absolute;
    bottom: 6px;
    right: 6px;
}
.calendar-archives.arw-theme1 .month .postcount .count-text {
    font-size: 9px;
}
.calendar-archives.arw-theme1 .day {
    text-align: center;
    width: 14.28571428571429%!important;
    line-height: 100%;
    padding: 5px 0;
}
.calendar-archives.arw-theme1 .day.has-posts {
    padding: 0;
}
.calendar-archives.arw-theme1 .day.has-posts a {
    padding: 5px 0!important;
    text-decoration: none;
}
.calendar-archives.arw-theme1 .day.noday {
    background: none!important;
    box-shadow: none;
    border: 0;
}
.calendar-archives.arw-theme1 .day.weekday {
    display: inline-block;
    text-transform: uppercase;
    border-right: 1px #eeeeee solid;
    border-bottom: 1px #eeeeee solid;
    background-color: #eeeeee;
    color: #333;
    font-size: 85%;
}
.calendar-archives.arw-theme1 .week-row {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.calendar-archives.arw-theme1 .week-row.weekdays {
    margin-bottom: 0;
}
.settings_page_archives_calendar #TB_ajaxContent {
    background-color: #eeeeee;
}




/*  LISTS
-------------------------------------------------- */
.list-group {
    border-radius: 0 0 3px 3px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    margin-bottom: 25px;
}
.list-group.list-group-naked {
    border: none;
}
.list-group.resource-link {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-radius: 0;
    margin-bottom: 10px;
}
.list-group-item {
    padding: 8px;
    border-top: 1px solid #dddddd;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item.list-group-item-naked {
    background-color: transparent;
    border: none;
    padding: 5px 0;
    font-size: 12px;
    border-radius: 0;
}
.resource-link .list-group-item,
.resource-link .list-group-item:first-child {
    border-radius: 0;
    border-top: none;
}
.list-group-item i {
    margin-top: 4px;
}
.list-group-item.list-group-item-two-line {
    padding-top: 9px;
    padding-bottom: 9px;
}
.list-group-item-two-line div {
    display: block;
    color: #999999;
    font-size: 9px;
    text-transform: uppercase;
}
.list-group-item.list-group-item-two-line a:active > div,
.list-group-item.list-group-item-two-line a:focus > div,
.list-group-item.list-group-item-two-line a:hover > div {
    color: #394959;
    text-decoration: none;
}
.list-group-events .list-group-item {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-event-sidebar.png) no-repeat 10px center;
}
.list-group-resources .list-group-item {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-resource-sidebar.png) no-repeat 10px center;
}
.list-group-resources .list-group-item.document-pdfdocpub {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-doc-sidebar.png) no-repeat 10px center;
}
.list-group-resources .list-group-item.image-jpggif {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-img-sidebar.png) no-repeat 10px center;
}
.list-group-resources .list-group-item.presentation-ppt {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-ppt-sidebar.png) no-repeat 10px center;
}
.list-group-resources .list-group-item.spreadsheet-xls {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-xls-sidebar.png) no-repeat 10px center;
}
.list-group-resources .list-group-item.video-wmv {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-wmv-sidebar.png) no-repeat 10px center;
}
.list-group-searches .list-group-item {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-search-sidebar.png) no-repeat 10px center;
}
.home-page .list-group-bookmarks {
    background: #ffffff;
}
.list-group-bookmarks .list-group-item {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-bookmark-sidebar.png) no-repeat 10px center;
}
.list-item-profile {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-profile-sidebar.png) no-repeat 10px center;
}
.list-item-activity {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-activity-sidebar.png) no-repeat 10px center;
}
.list-item-friends {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-friends-sidebar.png) no-repeat 10px center;
}
.list-item-groups {
    padding-left: 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-groups-sidebar.png) no-repeat 10px center;
}
.list-group-buddypress {
    list-style-type: none;
    height: 675px;
    max-height: 675px;
    min-height: 675px;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.2)
}
.list-group-buddypress .activity-item {
    padding: 10px;
    background: #ffffff;
    position: relative;
    display: block;
    margin-bottom: -1px;
    border: none;
    border-top: 1px solid #ddd;
    height: 113px;
    max-height: 113px;
    min-height: 113px;
}
.list-group-buddypress .activity-item .avatar {
    width: 35px;
    height: 35px;
    background: #000000;
}
.list-group-buddypress .activity-item .activity-header .avatar {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: none;
}
.list-group-buddypress .activity-meta {
    display: none;
}


/* WIDGETS
-------------------------------------------------- */
.widget-twitter h3 {
    margin-top: 0;
    font-size: 16px;
}
.twitter-nav {
    display: none;
}
.tweet-text a,
.tweet-text a:visited {
    color: #ffffff;
    text-decoration: underline;
}
.tweet-text a:active,
.tweet-text a:focus,
.tweet-text a:hover {
    color: #dddddd;
}
.widget-twitter p.tweet-details,
.tweet-details a,
.tweet-details a:visited {
    color: #cccccc;
    font-size: 9px;
}
.widget-twitter h3,
.widget-twitter h3 a,
.widget-twitter h3 a:visited,
.widget-twitter p {
    color: #ffffff;
}


/*  TAGS, BADGES and PILLS
-------------------------------------------------- */
.hospital-tags,
.hospital-tags:visited,
.tags > li,
.tags li > a,
.tags li > a:visited {
    font-size: 12px;
    font-weight: 200;
    margin-right: 10px;
    color: #394959;
    text-transform: capitalize;
}
.hospital-tags:active,
.hospital-tags:focus,
.hospital-tags:hover,
.tags li > a:active,
.tags li > a:focus,
.tags li > a:hover {
    color: #00A5D5;
    text-decoration: none;
}
.divisions li {
    display: inline-block;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
    vertical-align: middle;
}
.divisions .badge {
    padding: 3px 7px;
    background: #06325F;
    font-size: 12px;
    margin-right: 5px;
}
.divisions .badge:hover {
    background: #00A5D5;
}
.tags {
    margin: 0 10px 0 0;
}
.tags li {
    display: inline-block;
    font-size: 12px;
    padding: 3px 0;
}


/*  BREADCRUMBS
-------------------------------------------------- */

.breadcrumbs {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #999999;
    background: rgb(238, 238, 238);
    height: 40px;
    min-height: 40px;
    max-height: 40px;
}
.le-ie9 .breadcrumbs {
    height: 20px;
    min-height: 20px;
    max-height: 20px;
}
.home .breadcrumbs,
.single-staff_contact .breadcrumbs {
    display: none;
}
.breadcrumbs a,
.breadcrumbs a:visited {
    margin: -10px 0;
    width: auto;
    color: #999999;
}
.breadcrumbs a:first-child {
    padding-left:0
}
.breadcrumbs a:active,
.breadcrumbs a:focus,
.breadcrumbs a:hover {
    color: #46AFD2;
    text-decoration: none
}


/*  PAGE
-------------------------------------------------- */
.last_updated_by {
    margin-top: 20px;
    padding: 20px 0 10px;
    background: #dddddd;
    font-size: 12px;
}
.last_updated_by p a,
.last_updated_by p a:visited {
    color: #333333;
}
.last_updated_by p a:active,
.last_updated_by p a:focus,
.last_updated_by p a:hover {
    color: #00A5D5;
    text-decoration: none;
}
.intro-text {
    padding-bottom:40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #cccccc;
}


/*  CAROUSEL
-------------------------------------------------- */
.carousel {
    margin-bottom:0;
    position:relative;
    margin-left:0;
    z-index:1
}
.carousel .container {
    position:relative;
    z-index:9
}
.carousel-content {
    position:relative
}
.carousel-control {
    height: 80px;
    margin-top: 0;
    padding: 0;
    line-height: 35px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background: transparent;
    border: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    z-index: 9;
    top: auto;
    bottom: 90px;
    left: 5px;
    right: auto;
    width: auto;
}
.carousel-control.left {
    background: none;
}
.carousel-control.right {
    left: auto;
    right: 5px;
    background: none;
}
a.carousel-control i {
    color:#ffffff
}
.carousel .item {
    height: 250px;
    width: 100%
}
.carousel-content {
    height: 250px;
    min-height: 250px;
}
.carousel-caption {
    position: absolute;
    top: auto;
    left: 15px;
    bottom: 30px;
    right: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}
.carousel-caption h1,
.carousel-caption h2 {
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: left;
    display: inline-block;
    background: #394959;
    background: rgba(57, 73, 89, 0.85)
}
.carousel-caption h1 {
    font-size: 20px;
    padding: 6px 15px;
}
.carousel-caption h2 {
    font-size: 16px;
    padding: 6px 15px;
}
.carousel-caption h1 a,
.carousel-caption h1 a:visited,
.carousel-caption h2 a,
.carousel-caption h2 a,
.carousel-caption h3 a,
.carousel-caption h3 a:visited {
    color:#ffffff;
}
.carousel-caption h1 a:active,
.carousel-caption h1 a:focus,
.carousel-caption h1 a:hover,
.carousel-caption h2 a:active,
.carousel-caption h2 a:focus,
.carousel-caption h2 a:hover {
    color:#eeeeee;
    text-decoration:none
}
.lt-ie9 .carousel-caption .btn {
    font-size:16px
}
.carousel.fade {
    opacity:1
}
.carousel.fade .item {
    -webkit-transition:opacity ease-in-out .7s;
       -moz-transition:opacity ease-in-out .7s;
         -o-transition:opacity ease-in-out .7s;
            transition:opacity ease-in-out .7s;
    left:0!important;
    opacity:0;
    top:0;
    position:absolute;
    width:100%;
    display:block!important;
    z-index:1
}
.carousel.fade .item:first-child {
    top:auto;
    position:relative
}
.carousel.fade .item.active {
    opacity:1;
    -webkit-transition:opacity ease-in-out .7s;
       -moz-transition:opacity ease-in-out .7s;
         -o-transition:opacity ease-in-out .7s;
            transition:opacity ease-in-out .7s;
    z-index:2
}


/*  NEWS
-------------------------------------------------- */
h2.news-headline,
h2.news-headline a,
h2.news-headline a:visited {
    font-size: 20px;
    color: #06325F;
}
h2.news-headline a:active,
h2.news-headline a:focus,
h2.news-headline a:hover {
    color: #00A5D5;
    text-decoration: none;
}
.news-summaries {
    margin-bottom: 30px;
}
.news-summaries h2 {
    margin-top: 15px;
}
.news-summaries h2 a,
.news-summaries h2 a:visited {
    color: #06325F;
}
.news-summaries h2 a:active,
.news-summaries h2 a:focus,
.news-summaries h2 a:hover {
    color: #00A5D5;
    text-decoration: none;
}
.news-image img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.intro-text .news-image img {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.news-summary .news-excerpt {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;
}
.headline {
    background: #06325F;
    background: rgba(6, 50, 95, 0.85);
    position: absolute;
}
.headline h4 {
    margin: 0;
    font-size: 14px;
}
.headline p,
.headline a,
.headline a:visited {
    color: #ffffff;
    font-size: 14px;
}
.headline a:active,
.headline a:focus,
.headline a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.news-item-1,
.news-item-2,
.news-item-3,
.news-item-4 {
    height: 200px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.news-item-1 .headline,
.news-item-2 .headline,
.news-item-3 .headline,
.news-item-4 .headline {
    height: 60px;
    min-height: 60px;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
}
.news-item-1::before,
.news-item-2::before,
.news-item-3::before,
.news-item-4::before {
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    background: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/news-item-arrow-up.png) no-repeat center center;
    top: 90px;
    right: 25px;
    position: absolute;
}
.news-heading h2 {
    color: #06325F;
    font-size: 19px;
    line-height: 50px;
    padding: 20px 0;
    padding-left: 60px;
    background: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-heading-news.png) no-repeat left center;
}
.news-heading p {
    font-size: 14px;
    line-height: 50px;
    padding: 20px 0;
    margin: 20px 0 10px;
}
.news-subheading p {
    font-size: 14px;
    line-height: 40px;
    padding: 0;
}
   
    
/* HOMEPAGE STATS
-------------------------------------------------- */
.stats-heading h2 {
    color: #E95D00;
    font-size: 19px;
    line-height: 50px;
    padding: 20px 0;
    padding-left: 60px;
    background: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-heading-vitalsigns.png) no-repeat left center;
}
.stats-heading p {
    font-size: 14px;
    line-height: 50px;
    padding: 20px 0;
    margin: 20px 0 10px;
}
.stats-subheading p {
    font-size: 14px;
    line-height: 40px;
    padding: 0;
}
.stats-heading a,
.stats-heading a:visited {
    color: #E95D00;
}
.stat-content {
    border: 1px solid #cccccc;
    background: #ffffff;
    margin-bottom: 30px;
    position: relative;
}
.stat-content h4 {
    font-size: 14px;
    margin: 0 0 20px;
}
.stat-content .legend {
    position: absolute;
    bottom: 10px;
    left: 0;
}
.bar-legend,
.line-legend,
.pie-legend {
    list-style-type: none;
    padding: 0 0 0 20px;
}
.bar-legend > li > span,
.line-legend > li > span,
.pie-legend > li > span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


/*  THANK YOU'S
-------------------------------------------------- */
.thanks-carousel ul li {
    -webkit-transform: rotate(-2deg);
       -moz-transform: rotate(-2deg);
}
.thanks-carousel ul li:nth-child(even) {
    -webkit-transform: rotate(2deg);
       -moz-transform: rotate(2deg);
}
.thanks-carousel ul li:nth-child(3n) {
    -webkit-transform: rotate(-5deg);
       -moz-transform: rotate(-5deg);
    position: relative;
    top: -5px;
}
.thanks-carousel ul li:nth-child(4n) {
    -webkit-transform: rotate(5deg);
       -moz-transform: rotate(5deg);
    position: relative;
    right: 5px;
}
.thanks-carousel ul li:nth-child(8n) {
    position: relative;
    top: 8px;
    right: 5px;
}
.thanks-carousel ul li:nth-child(11n) {
    position: relative;
    top: 3px;
    left: -5px;
}
.thanks-message {
    background: #ffffff;
}
#fpc_effect-back {
    background-color: #eeeeee;
    width: 100%;
}
#fpc_effect-back * {
	box-sizing: border-box;
}
#fpc_box {
	width: 100%;
	position: relative;
}
#fpc_content {
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    margin-bottom: 20px;
}
#fpc_content:before {
	content:"";
	width: 80px;
	height: 80px;
	float: right;
}
#fpc_page-tip:before,
#fpc_page-tip:after {
	background-color: #ffffff;
	position: absolute;
	display: block;
	z-index: 2;
	border-top-right-radius: 60%;
	width: 50%;
	height: 50%;
	content: "";
}
#fpc_page-tip:before {
	right: 100%;
	top: 0%;
	background: -webkit-radial-gradient(-180% 200%, circle, rgba(255,255,255,0) 80%, rgba(0,0,0,.2) 100%);
}
#fpc_box:hover #fpc_page-tip:before {
	border-right: solid 1px #fff;
}
#fpc_box div#fpc_corner-box:hover #fpc_page-tip:before {
	border-right: solid 2px #fff;
}
#fpc_page-tip:after {
	top: 100%;
	right: 0%;
	background: -webkit-radial-gradient(-250% 320%, circle, rgba(255,255,255,0) 80%, rgba(0,0,0,.2) 100%);
}
#fpc_box:hover #fpc_page-tip:after {
	border-top: solid 1px #fff;
}
#fpc_box div#fpc_corner-box:hover #fpc_page-tip:after {
	border-top: solid 2px #fff;
}
#fpc_corner-box {  /* edit these sizes for the default revealing corner size */
	height: 20px;
	width: 20px;
	right: 0;
	top: 0;
	position: absolute;
	overflow: visible;
}
#fpc_box:hover #fpc_corner-box { /* edit corner size (First animation, when the whole page is rollovered) */
	height: 50px;
	width: 50px;
}
#fpc_box div#fpc_corner-box:hover { /* edit corner size (Second animation, when the corner itself is rollovered) */
	height: 100px;
	width: 100px;
}
#fpc_corner-box:before {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	display: block;
	width: 133%;
	height: 133%;
}
#fpc_corner-contents:after {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	background:  -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 37%, #DDD 62%, rgba(230, 230, 230, 0.1) 64%, rgba(255, 255, 255, 0) 67%), -webkit-radial-gradient(-50% 150%, circle, transparent 74%, rgba(0, 0, 0, 0.2) 74%, transparent 81%);
	display: block;
	width: 133%;
	height: 133%;
}
#fpc_page-tip {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	background: -webkit-linear-gradient(45deg, #ddd 17%, #dfdfdf 18%, #f5f5f5 30%, #f8f8f8 34%, #eee 39%, rgba(200,200,200,0) 41%);
	display: block;
	width: 100%;
	height: 100%;
}
#fpc_corner-button {
	position: absolute;
	width: 7em;
	top: 0;
	right: 0;
	background-color: #900;
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	padding: 8px 5px;
	border-radius: 5px;
	display: inline-block;
	font-size: 11px;
}
#fpc_corner-contents {
	width: 125%;
	position: absolute;
	display: block;
	overflow: hidden;
	-webkit-mask: -webkit-linear-gradient(45deg, transparent 49%, #000 53%);
	top: 0;
	right: 0;
	height: 125%;
}
#fpc_corner-contents:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #eeeef4; /* Match this background color to #fpc_effect-back */
}
#fpc_corner-box,
#fpc_corner-contents,
#fpc_page-tip {
	-webkit-transition-property: all;
	-webkit-transition-duration: .3s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.35, .5, 1.7);
}
#fpc_corner-button strong {
	font-size: 13px;
	font-weight: bold;
	display: block;
}


/*  COMMENTS
-------------------------------------------------- */
#respond {
    clear:both;
    background:#EFEFEF;
    padding:5px 20px;
    margin-top:20px
}
#respond textarea {
    height:100px;
    width:98%
}
#main #commentform p {
    font-size:12px;
    font-weight:400
}
ol.commentlist {
    margin:0;
    list-style-type:none
}
ol.commentlist li article {
    margin:0
}
ol.commentlist ul li {
    padding:5px 20px;
    border:1px solid #EFEFEF
}
ol.commentlist li {
    padding:5px 20px;
    list-style-type:none;
    margin:0 0 20px;
    border:1px solid #EFEFEF;
    list-style-image:none
}
#main ol.commentlist li p {
    font-weight:400;
    font-size:13px
}
ol.commentlist ul {
    list-style-type:none;
    margin:0 0 20px
}
.commentlist img.avatar {
    -webkit-border-radius:50%;
            border-radius:50%
}
.comment-author {
    font-size:12px;
    font-weight:700
}
.comment-author time {
    font-weight:400;
    margin-left:5px
}
.comment-author time a {
    color:#999
}
.comment-author a.comment-edit-link {
    font-weight:400;
    color:#999;
    margin-left:5px
}
a.comment-reply-link {
    font-size:11px;
    font-weight:400;
    color:#06C
}


/* CONTACTS PAGE
-------------------------------------------------- */
.contacts-page {
    margin-top: 40px;
    margin-bottom: 15px;
}
.contact-card {
    margin-top: 30px;
}
.contact-card-edit {
    margin-top: 30px;
    margin-bottom: 30px;
}
.contact-card-edit .alert {
    margin-bottom: 0;
}


/* BUDDYPRESS STYLING OVERRIDES
-------------------------------------------------- */
.buddypress .page-header h1 > a {
    font-size: 50%;
}
#staffnet-buddypress #members_search_submit,
#staffnet-buddypress #messages_search_submit,
#staffnet-buddypress #groups_search_submit {
    display: none;
}
#staffnet-buddypress ul ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#staffnet-buddypress .media-body .media {
    margin-top: 20px;
}
#staffnet-buddypress .item-list-tabs {
    margin-top: 20px;
}
#staffnet-buddypress .media {
    display: table;
}
.item-avatar img,
img.avatar {
    border-radius: 3px;
    border: 1px solid #cccccc;
    background: #ffffff;
}
.activity-list {
    margin-bottom: 30px;
}
.activity-item {
    padding: 25px 0 20px;
    border-bottom: 1px solid #cccccc;
}
.activity-meta > li {
    display: inline-block;
    margin: 0 15px 0 0;
}
#staffnet-buddypress .nav-tabs {
    border-bottom: 1px solid #ccc;
}
#staffnet-buddypress .nav-tabs > li > a:hover {
    border-color: #eee #eee #ccc
}
#staffnet-buddypress .nav-tabs > li.current > a,
#staffnet-buddypress .nav-tabs > li.current > a:focus,
#staffnet-buddypress .nav-tabs > li.current > a:hover,
#staffnet-buddypress .nav-tabs > li.selected > a,
#staffnet-buddypress .nav-tabs > li.selected > a:focus,
#staffnet-buddypress .nav-tabs > li.selected > a:hover {
    color: #555;
    cursor: default;
    background-color: #eee;
    border: 1px solid #ccc;
    border-bottom-color: transparent
}
.activity-filter {
    margin-top: 20px;
    margin-bottom: -15px;
}
.ac-form {
    margin-top: 20px;
}
#whats-new-post-in {
    margin-right: 10px;
}
.messages-notices,
.notifications {
    width: 100%;
    min-width: 100%;
}
.messages-notices tbody tr > td,
.notifications tbody tr > td {
    padding-bottom: 20px;
}
.messages-options-nav .bootstrap-select > .btn,
.messages-options-nav .bootstrap-select > .btn:visited,
.notifications-options-nav .bootstrap-select > .btn,
.notifications-options-nav .bootstrap-select > .btn:visited {
    width: 150px;
}
.messages-options-nav .bootstrap-select.form-control.input-group-btn,
.notifications-options-nav .bootstrap-select.form-control.input-group-btn {
    display: inline-block;
}
.messages-options-nav .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
.notifications-options-nav .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto;
    margin-bottom: 0;
}
#group-settings-form input[type="submit"],
#save,
.submit input[type="submit"],
.submit input[type="button"],
.button.action {
    display: inline-block;
    background:#009933;
    color:#fff;
    border:none;
    filter:none;
    min-width:150px;
    margin-bottom:-3px;
    padding:8px 12px;
    font-size:15px;
    line-height: 15px;
    border-radius: 3px;
    -webkit-box-shadow:none;
       -moz-box-shadow:none;
            box-shadow:none;
    margin-top: 30px;
    margin-bottom: 30px;
}
#group-settings-form input[type="submit"]:focus,
#group-settings-form input[type="submit"]:hover,
#save:focus,
#save:hover,
.submit input[type="submit"]:focus,
.submit input[type="submit"]:hover,
.submit input[type="button"]:focus,
.submit input[type="button"]:hover,
.button.action:focus,
.button.action:hover {
    color:#ffffff;
    background-color: #217546;
}
#group-settings-form input[type="submit"]:disabled,
.submit input[type="submit"]:disabled,
.submit input[type="button"]:disabled {
    color:#ffffff;
    background-color: #cccccc;
    cursor: not-allowed;
}
#staffnet-buddypress .profile {
    margin-top: 30px;
}
#staffnet-buddypress .profile h4 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.groups .item-list > li {
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}
.create-group {
    padding-top: 30px;
}
#item-actions ul,
.item-list {
    list-style-type: none;
    padding: 0;
}
.bp-page-contents {
    margin-top: 30px;
}
#staffnet-buddypress .item-list-tabs  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.groups-members-search,
#group_members-order-select {
    display: inline-block;
}
#group_members-order-select {
    float: right;
}
#group-settings-form {
    margin-top: 30px;
    margin-bottom: 30px;
}
#bbpress-forums h3 {
    display: none;
}
#whats-new {
    height: 2.25em;
}
#sitewide-notice {
    position: absolute;
    top: 147px;
    left: 5%;
    width: 90%;
    display: block;
}
#sitewide-notice.admin-bar-off {
    display: none;
}
#subscription-toggle {
    float: right;
}
#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
    margin-bottom: 0;
}
div.bbp-template-notice.info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #333333;
    padding: 15px;
}
div.bbp-template-notice p {
    margin: 0 !important;
    padding: 0;
}
#bbpress-forums fieldset.bbp-form {
    padding: 0;
}
#bbpress-forums fieldset.bbp-form legend {
    padding: 40px 0 0;
}


 /*  DEPARTMENT ARCHIVE PAGES
-------------------------------------------------- */
.grid .meta {
    display: none;
}
.grid .mix {
    display: none;
    opacity: 0;
    position: relative;
}
#category_wrapper .mix {
    opacity: 0;
    display: none;
}
.category-pane h2 {
    margin-top: 0;
}
.category-pane h6 {
    margin-bottom: 0;
}
.category-pane h2 a,
.category-pane h2 a:visited,
.category-pane h6 a,
.category-pane h6 a:visited {
    color: #222222;
}
.category-pane h2 a:active,
.category-pane h2 a:focus,
.category-pane h2 a:hover,
.category-pane h6 a:active,
.category-pane h6 a:focus,
.category-pane h6 a:hover {
    color: #333333;
    text-decoration:underline;
}
.badge {
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 300;
    max-width: 200px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.sublink_wrap {
    height: 40px;
    min-height: 40px;
}


/*  SIDEBAR
-------------------------------------------------- */
h3.related-pages {
    color: #ffffff;
    background: #06325F;
    padding-left: 15px;
    line-height: 45px;
    font-size: 18px;
    margin: 0;
    border-radius: 2px 2px 0 0;
}
h3.related-pages small {
    line-height: 45px;
    color: #ffffff;
    margin-right: 5px;
}
h3.related-pages small a,
h3.related-pages small a:visited {
    color: #ffffff;
}
.buddypress h3.related-pages,
.single-buddypress h3.related-pages {
    background: #0077C3;
}
.single-departments h3.related-pages {
    background: #009933;
}
.single-nursenet h3.related-pages {
    background: #7B0158;
}
.single-learning h3.related-pages {
    background: #BE110F;
}
.single-staffroom h3.related-pages {
    background: #9E2244;
}
.performance h3.related-pages,
.single-performance h3.related-pages {
    background: #E95D00;
}
.single-resource h3.related-pages {
    background: #05b7b0;
}
.single-event h3.related-pages {
    background: #66cc33;
}
.single-thanks h3.related-pages {
    background: #FFC300;
}
.search h3.related-pages {
    background: #00A5D5;
}
.bookmarks h3.related-pages {
    background: #7B0158;
}
.list-group-thanks .list-group-item {
    padding: 15px 15px 15px 55px;
    background: #ffffff url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-thanks-sidebar.png) no-repeat 10px center;
}
h3.related-links {
    color: #ffffff;
    padding-left: 55px;
    line-height: 45px;
    font-size: 18px;
    margin: 0;
    background: #288A51 url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-links-sidebar.png) no-repeat left center;
    border-radius: 2px 2px 0 0;
}
h3.related-cqc {
    color: #ffffff;
    padding-left: 15px;
    line-height: 45px;
    font-size: 18px;
    margin: 0;
    border-radius: 2px 2px 0 0;
    background: #06325F;
}
.cqc {
    border: 1px solid #cccccc;
}
h3.related-news-categories {
    color: #ffffff;
    padding-left: 55px;
    line-height: 45px;
    font-size: 18px;
    margin: 0;
    background: #06325F url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-news-sidebar.png) no-repeat left center;
    border-radius: 2px 2px 0 0;
}


/*  FOOTER
-------------------------------------------------- */
footer,
.footer-push {

    clear: both;
}
.footer-tier-1 {
    background: #394959;
    padding: 40px 0;
    height: 660px;
    min-height: 660px;
    max-height: 660px;
}
.footer-tier-2 {
    background: #212C36;
    padding: 40px 0;
    height: 260px;
    min-height: 260px;
    max-height: 260px;
}
.footer-links {
    margin-bottom: 20px;
}
.footer-links h3 {
    font-size: 16px;
    color: #ffffff;
    border-bottom: 1px solid #00A5D5;
    margin: 0 0 20px;
}
.footer-links.footer-quick-links h3 {
    border-bottom: 1px solid #288A51;
}
.footer-links li {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
.key-links li > a {
    display: block;
    background: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-key-link-generic.png) no-repeat left center;
    padding: 0 20px 0 50px;
    line-height: 35px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}
.key-links li > a:visited {
    color: #ffffff;
}
.key-links li > a:active,
.key-links li > a:focus,
.key-links li > a:hover {
    color: #00A5D5;
    text-decoration: none;
}
.key-links li.menu-marketplace > a {
    background: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-key-link-marketplace.png) no-repeat left center;
}
.key-links li.menu-webmail > a {
    background: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-key-link-webmail.png) no-repeat left center;
}
.key-links li.menu-employee-online > a {
    background: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-key-link-employee-online.png) no-repeat left center;
}
.key-links li.menu-vacancies > a {
    background: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-key-link-vacancies.png) no-repeat left center;
}
.key-links li.menu-on-call-today > a {
    background: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-key-link-on-call.png) no-repeat left center;
}
.key-links li.menu-emergency-plans > a {
    background: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-key-link-emergency-plans.png) no-repeat left center;
}
.quick-links li > a {
    display: block;
    background: url(http://staffnet.wpengine.com/wp-content/themes/staffnet_strategic-ic/assets/img/icon-quick-link-generic.png) no-repeat left center;
    padding: 0 20px 0 50px;
    line-height: 35px;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}
.quick-links li > a:visited {
    color: #ffffff;
}
.quick-links li > a:active,
.quick-links li > a:focus,
.quick-links li > a:hover {
    color: #00A5D5;
    text-decoration: none;
}
.footer-quick-links .quick-links li > a:active,
.footer-quick-links .quick-links li > a:focus,
.footer-quick-links .quick-links li > a:hover {
    color: #288A51;
}
.footer-brand {
    padding-top: 15px;
}
.footer-copyright {
    margin-top: 30px;
}
.footer-copyright p {
    padding-right: 55px;
    font-size: 9px;
    color: #cccccc;
}
.footer-copyright p > a,
.footer-copyright p > a:visited {
    font-size: 9px;
    color: #cccccc;
}
.footer-copyright p > a:active,
.footer-copyright p > a:focus,
.footer-copyright p > a:hover {
    font-size: 9px;
    color: #ffffff;
}

    
.logo-NHS {
  
  margin-top: 6px;
}

.label-warning {
  
  color: $gray;
  
}