.main-sidebar {
  
  padding-right: 1em;
  margin-top: -4em;
  
  @media screen and (max-width: $screen-xs){
    
    margin-top: 1em;
    
  }
  
}

.page-wrapper {
  
  @media screen and (max-width: $screen-xs){
    
    margin-top: 1em;
    
  }
  
}

.page-header {}

.page-content {}

.page-advert-sidebar {
  
  @media screen and (max-width: $screen-xs){
    
    margin-top: 1em;
    
  }
  
}

.page-search {
  
    margin-top: 0em;
  
}