// HOMEPAGE

.homepage {
 
  margin-top: 2em;
  
}

.sidebar-homepage {
  
  padding: 0.5em;
  
  .sidebar-left {
    
    padding-left: 0;
    padding-right: 1em;
    
  }
  
  .sidebar-right {
    
    padding-left: 1em;
    padding-right: 0;
    
  }

  .btn-group {
    
    margin-bottom: 1em;
    width: 100%;
    
  }
  
}







// PAGES



.main-sidebar {
  
  padding-right: 1em;
  margin-top: -4em;
  
  @media screen and (max-width: $screen-xs){
    
    margin-top: 1em;
    
  }
  
}

.page-wrapper {
  
  @media screen and (max-width: $screen-xs){
    
    margin-top: 1em;
    
  }
  
}

.page-header {}

.page-content {}

.page-advert-sidebar {
  
  @media screen and (max-width: $screen-xs){
    
    margin-top: 1em;
    
  }
  
}

.page-search {
  
    margin-top: 0em;
  
}