.panel-default > .panel-heading {
  
  color: #ffffff;
  background-color: $brand-primary;
  border-color: $brand-primary;

}

.panel-title {
  
  font-weight: 400;
  
}

.panel-body {
  
  background-color: $brand-grey;
}