/*  TYPOGRAPHY
-------------------------------------------------- */

// Smooth fonts on Mac

body {
  
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  
}

// Branded headers
//
// Coloured backgrounds with white font

.branded-header {
  
  background-color: $brand-primary;
  padding: 8px 5px;
  color: white;
  
}

.branded-header-secondary {
  
  @extend .branded-header;
  background-color: $brand-primary-dark;
  
}

.branded-header-vibrant {
  
  @extend .branded-header;
  background-color: $brand-vibrant;
  
}

// Extra large header for resource and category-like pages
//
// 

.page-header-large h1 {
  
  font-size: $font-size-h1 + 20;
  
  @media screen and (max-width: $screen-xs) {
    
    margin-top: 0px;
  }
  
}

// Quiet headers

h2.quiet {
  
  font-size: 17px;
  color: #909292;
  
}

h3.quiet {
  
  font-size: 17px;
  color: #909292;
  
}

//HR

hr {
  
  margin: 10px 0;
  
}

//

.header-label {
  
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 17px;
  
}