<footer class="footer-sitewide">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>A heading</h3>
        <ul class="list-unstyled">
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
        </ul>
      </div>
      
      <div class="col-md-3">
        <h3>A heading</h3>
        <ul class="list-unstyled">
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
        </ul>
      </div>
      
      <div class="col-md-3">
        <h3>A heading</h3>
        <ul class="list-unstyled">
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
        </ul>
      </div>
      
      <div class="col-md-3">
        <h3>A heading</h3>
        <ul class="list-unstyled">
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
          <li><a href="#">Vestibulum at eros</a></li>
        </ul>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12">
        <div class="footer-sub">
          <ul class="list-inline">
            <li role="presentation"><a href="#">Help</a></li>
            <li role="presentation"><a href="#">Cookies &amp; Privacy</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
            <li role="presentation"><a href="#">Suggest a feature</a></li>
            <li role="presentation"><a href="#">Community guidelines</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>