<div class="header-wrap">

    <!-- Top bar -->
    <div class="top-bar">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                  <div class="user-panel media">
                        
                        <div class="media-left">
                            
                            <a href="http://staffnet.staging.wpengine.com/members/andrew-duckworth/" class="media-object">
                                <img src="//www.gravatar.com/avatar/2550304b5c8b07a3b440b9bc0e543fa6?s=60&amp;r=g&amp;d=mm" class="avatar user-5670-avatar avatar-60 photo" width="60" height="60" alt="Profile photo of Andrew Duckworth">                            </a>
                            
                        </div>
                        
                        <div class="media-body">
                            
                            <h4 class="media-heading">
                                <a href="http://staffnet.staging.wpengine.com/members/andrew-duckworth/" data-toggle="tooltip" data-placement="top" title="" data-original-title="View My Activity">
                                    Andrew Duckworth                                </a>
                            </h4>
                            
                            <h6 class="constrain-text">Online &amp; Social Media Specialist</h6>
                            
                            <p class="hidden-xs">
                                <a href="/?action=logout&amp;redirect_to=http://nww.westernsussexhospitals.nhs.uk" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sign Out">
                                    Sign out <i class="pe-7s-power pe-lg pe-va"></i>
                                </a>
                            </p>
                            
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8 text-right">
                    
                                        
                    <span class="hidden-xs hidden-md hidden-lg">
                        <a href="http://staffnet.staging.wpengine.com/members/andrew-duckworth/" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="View My Activity">
                            <img src="//www.gravatar.com/avatar/2550304b5c8b07a3b440b9bc0e543fa6?s=25&amp;r=g&amp;d=mm" class="avatar user-5670-avatar avatar-25 photo" width="25" height="25" alt="Profile photo of Andrew Duckworth"><span class="hidden-xs">&nbsp;&nbsp;Andrew Duckworth</span>
                        </a>
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                    </span>
                    <a href="http://staffnet.staging.wpengine.com/members/andrew-duckworth/notifications" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="View notifications">
                        <i class="pe-7s-bell pe-lg pe-va"></i> <span class="hidden-xs hidden-sm"> Notifications</span>
                    </a>
                    &nbsp;&nbsp;<span class="hidden-xs hidden-md hidden-lg">|</span>&nbsp;&nbsp;
                    <a href="http://staffnet.staging.wpengine.com/members/andrew-duckworth/messages" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Read your messages">
                        <i class="pe-7s-mail pe-lg pe-va"></i><span class="hidden-xs hidden-sm"> Messages</span>
                    </a>
                    <span class="hidden-md hidden-lg">
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                        <a href="/?action=logout&amp;redirect_to=http://nww.westernsussexhospitals.nhs.uk" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sign Out">
                            <i class="pe-7s-power pe-lg pe-va"></i> Sign out
                        </a>
                    </span>
                   
                </div>
                
            </div>
            
        </div>
        
    </div>
    

    <!-- Main StaffNet navigation -->
    <nav class="navbar navbar-default affix-top yamm" data-spy="affix" data-offset-top="50" data-offset-bottom="200">
        
        <div class="container">
            
            <div class="row">
                
                <!-- brand -->
                <div class="col-xs-12 visible-xs">
                    
                    <a class="navbar-brand text-hide" href="http://staffnet.wpengine.com/">StaffNet</a>
                    
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#staffnet-nav" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>

                </div>
                
                <!-- nav -->
                <div class="col-xs-12 col-md-12">
                    
                    <nav id="staffnet-nav" class="navbar-collapse collapse yamm" aria-expanded="false" style="height: 0px;">
                        
                        <ul id="menu-primary-navigation" class="nav navbar-nav">
                          <li class="menu-home"><a href="/departments/">Home</a></li>
                          <li class="menu-departments"><a href="/departments/">Departments</a></li>
                          <li class="menu-systems"><a href="http://staffnet.wpengine.com/contacts/">Systems</a></li>
                        <li class="menu-directory"><a href="http://staffnet.wpengine.com/contacts/">Directory</a></li>
                        <li class="menu-resources"><a href="http://staffnet.wpengine.com/resources/">Documents</a></li>
                        <li class="dropdown menu-people yamm-fw"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">Resources <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li class="menu-learning-development"><a href="/learning-development/">Learning &amp; Development</a></li>
                          <li class="menu-performance"><a href="/performance/">Performance</a></li>
                          <li class="menu-staffroom"><a href="/staffroom/">Staffroom</a></li>
                          <li class="menu-thank-yous"><a href="/thanks/">Thank you’s</a></li>
                        </ul>
                        </li>
                          <li class="menu-learning-development"><a href="/nursenet/">PALMS</a></li>
                          <li class="menu-groups"><a href="/nursenet/">Groups</a></li>
                          <li class="menu-forums"><a href="/nursenet/">Forums</a></li>
                        <li class="menu-news"><a href="/news/">News</a></li>
                        </ul>                        
                    </nav>
                    
                </div>
                
                <!-- user -->
                <div class="col-xs-12 hidden-sm col-md-3 col-lg-3">
                    
                                    
                </div>
                
            </div>
            
        </div>
    
    </nav>
    
    <!-- Main search -->
    <div class="colour-code header-search noprint clearfix">
    
        <div class="container"> 
      
            <div class="row">
                
                <div class="hidden-xs hidden-sm col-md-3">

                    <p class="hidden no-margin text-left">
                        <a href="/advanced-search/" title="Advanced search" class="advanced-search">Advanced search</a>
                    </p>
                    
                    
                </div>
          
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
        
                    <form id="searchform_all" method="get" action="http://staffnet.wpengine.com/" class="clearfix" style="position: relative;"><!-- solves the IE7 offset bug -->
                    
                        <label for="s" class="sr-only">
                            Search
                        </label>
                        
                        <input type="text" value="" name="s" id="s" class="ajax-search" placeholder="What are you looking for...?">
                        
                        <button id="search-submit" class="btn hidden" type="submit">
                            <i class="pe-7s-search pe-va pe-2x"></i>
                        </button>
                        
                    </form>
            
                </div>
                
                <div class="hidden-xs hidden-sm col-md-3">

                    <p class="no-margin text-right">
                        <i class="pe-7s-info pe-lg pe-va"></i> <a href="#key-links-apps" id="smooth-scroll-1">Key Links and Apps</a>
                    </p>
                    
                    
                </div>
          
            </div>
                 
        </div>
      
    </div>
    
        
</div>