<div class="header-wrap">

    <!-- Top bar -->
    <div class="top-bar">
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-4">
                </div>
                
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8 text-right">
                    
                                    
                    <a data-toggle="modal" href="#signin"><i class="pe-7s-power pe-fw pe-va pe-lg"></i> Sign in</a>
                    
                                        
                </div>
                
            </div>
            
        </div>
        
    </div>
    

    <!-- Main StaffNet navigation -->
    <nav class="navbar navbar-default affix-top" data-spy="affix" data-offset-top="50" data-offset-bottom="200">
        
        <div class="container">
            
            <div class="row">
                
                <!-- brand -->
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
                    
                    <a class="navbar-brand text-hide" href="http://staffnet.wpengine.com/">StaffNet</a>
                    
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#staffnet-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                
                <!-- nav -->
                <div class="col-xs-12 col-sm-10 col-md-7 col-lg-6">
                    
                    <nav id="staffnet-nav" class="collapse navbar-collapse">
                        
                        <ul id="menu-primary-navigation" class="nav navbar-nav"><li class="menu-departments"><a href="/departments/">Departments</a></li>
<li class="menu-directory"><a href="http://staffnet.wpengine.com/contacts/">Directory</a></li>
<li class="menu-resources"><a href="http://staffnet.wpengine.com/resources/">Resources</a></li>
<li class="dropdown menu-people"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">People <b class="caret"></b></a>
<ul class="dropdown-menu">
	<li class="menu-learning-development"><a href="/learning-development/">Learning &amp; Development</a></li>
	<li class="menu-performance"><a href="/performance/">Performance</a></li>
	<li class="menu-staffroom"><a href="/staffroom/">Staffroom</a></li>
	<li class="menu-thank-yous"><a href="/thanks/">Thank you’s</a></li>
</ul>
</li>
<li class="menu-nursenet"><a href="/nursenet/">NurseNet</a></li>
<li class="menu-news"><a href="/news/">News</a></li>
</ul>                        
                    </nav>
                    
                </div>
                
                <!-- user -->
                <div class="col-xs-12 hidden-sm col-md-3 col-lg-3">
                    
                                    
                </div>
                
            </div>
            
        </div>
    
    </nav>
    
    <!-- Main search -->
    <div class="colour-code header-search noprint clearfix">
    
        <div class="container"> 
      
            <div class="row">
                
                <div class="hidden-xs hidden-sm col-md-3">

                    <p class="hidden no-margin text-left">
                        <a href="/advanced-search/" title="Advanced search" class="advanced-search">Advanced search</a>
                    </p>
                    
                    
                </div>
          
                <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
        
                    <form id="searchform_all" method="get" action="http://staffnet.wpengine.com/" class="clearfix" style="position: relative;"><!-- solves the IE7 offset bug -->
                    
                        <label for="s" class="sr-only">
                            Search
                        </label>
                        
                        <input type="text" value="" name="s" id="s" class="ajax-search" placeholder="What are you looking for...?">
                        
                        <button id="search-submit" class="btn hidden" type="submit">
                            <i class="pe-7s-search pe-va pe-2x"></i>
                        </button>
                        
                    </form>
            
                </div>
                
                <div class="hidden-xs hidden-sm col-md-3">

                    <p class="no-margin text-right">
                        <i class="pe-7s-info pe-lg pe-va"></i> <a href="#key-links-apps" id="smooth-scroll-1">Key Links and Apps</a>
                    </p>
                    
                    
                </div>
          
            </div>
                 
        </div>
      
    </div>

</div>