<li class="megamenu-unit">
  <div class="row">

    <div class="col-md-3">
      <div class="megamenu-inner">
        <h4>Quick links</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">Estates Helpdesk</a>
          </li>
          <li>
            <a href="#">Human resources</a>
          </li>
          <li>
            <a href="#">Finance Helpdesk</a>
          </li>
          <li>
            <a href="#">Estates Helpdesk</a>
          </li>
          <li>
            <a href="#">Estates Helpdesk</a>
          </li>
          <li>
            <a href="#">Estates Helpdesk</a>
          </li>
          <li>
            <a href="#">Estates Helpdesk</a>
          </li>
          <li>
            <a href="#">Estates Helpdesk</a>
          </li>
          <li>
            <a href="#">Estates Helpdesk</a>
          </li>
          <li>
            <a href="#">Estates Helpdesk</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <div class="megamenu-inner">
        <h4>Corporate departments</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">Communications</a>
          </li>
          <li>
            <a href="#">Communications</a>
          </li>
          <li>
            <a href="#">Communications</a>
          </li>
          <li>
            <a href="#">Communications</a>
          </li>
          <li>
            <a href="#">Communications</a>
          </li><li>
            <a href="#">Communications</a>
          </li><li>
            <a href="#">Communications</a>
          </li><li>
            <a href="#">Communications</a>
          </li><li>
            <a href="#">Communications</a>
          </li>
          <li>
            <a href="#">A-Z Corporate Departments</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <div class="megamenu-inner">
        <h4>Clinical departments</h4>
        <ul class="list-unstyled">
          <li>
            <a href="#">Emergency Department</a>
          </li>
          <li>
            <a href="#">Emergency Department</a>
          </li>
          <li>
            <a href="#">Emergency Department</a>
          </li>
          <li>
            <a href="#">Emergency Department</a>
          </li>
          <li>
            <a href="#">Emergency Department</a>
          </li>
          <li>
            <a href="#">Emergency Department</a>
          </li>
          <li>
            <a href="#">Emergency Department</a>
          </li>
          <li>
            <a href="#">Emergency Department</a>
          </li>
          <li>
            <a href="#">Emergency Department</a>
          </li>
          <li>
            <a href="#">A-Z Clinical Departments</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <div class="megamenu-inner">
        <h4>Alphanumerical selector</h4>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group btn-block" role="group" aria-label="A-E">
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">A</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">B</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">C</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">D</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">E</a>
          </div>
          <div class="btn-group btn-block" role="group" aria-label="F-J">
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">F</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">G</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">H</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">I</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">J</a>
          </div>
          <div class="btn-group btn-block" role="group" aria-label="K-O">
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">K</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">L</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">M</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">N</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">O</a>
          </div>
          <div class="btn-group btn-block" role="group" aria-label="P-T">
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">P</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">Q</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">R</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">S</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">T</a>
          </div>
          <div class="btn-group btn-block" role="group" aria-label="U-Y">
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">U</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">V</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">W</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">X</a>
            <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">Y</a>
          </div>
          <div class="btn-group btn-block" role="group" aria-label="Z-numerical">
            <a href="#" class="btn btn-default btn-fifth btn-wire" role="button">Z</a>
            <a href="#" class="btn btn-default btn-fifth btn-wire" role="button">0-9</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <div class="form form-megamenu">
        <div class="btn-group" role="group" aria-label="search selector">
          <button type="button" class="btn btn-default btn-wire">All</button>
          <button type="button" class="btn btn-default btn-wire">Clinical</button>
          <button type="button" class="btn btn-default btn-wire">Corporate</button>
        </div>
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search within departments">
          <span class="input-group-btn">
            <button class="btn btn-default btn-wire" type="button">Search</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</li>