---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a title="Return to the homepage" href="#" class="home">Home</a> &gt; <span property="itemListElement" typeof="ListItem"><span property="page">Page</span><meta property="position" content="2"></span>                
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div class="navigation-sidebar">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation" class="active"><a href="#">Department name</a></li>
          <li role="presentation"><a href="#">Subpage</a></li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Dropdown <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li role="presentation"><a href="#">Subpage</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="page-wrapper">
            <div class="page-header">
            <h1>Page title</h1>
            </div>
            <div class="page-content">
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem.  Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-md-offset-1">
          <div class="page-advert-sidebar">
            optional sidebar
          </div>
        </div>
      </div>
      
      
      
    </div>
    
    
  </div>
  
</div>