---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Departments</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header page-header-large">
        <h1>Departments</h1>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search within departments...">
            <div class="input-group-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="main-sidebar navigation-sidebar page-search">
        <form>
          <label for="careGroup">Care Group</label>
              <select name="careGroup" class="form-control">
                <option disabled selected value> -- select an option -- </option>
                <option>Corporate services</option>
                <option>Emergency Care</option>
                <option>Medicine and Pharmacy Services</option>
                <option>OSCCA</option>
                <option>MSK</option>
                <option>LEGION</option>
              </select>
            </form>   

      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="page-wrapper">
            <div class="page-content">
              
              
              
            
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-md-offset-1">
          <aside role="complementary" class="page-advert-sidebar">
            
            Did you mean?
            ...
            
            
          </aside>
        </div>
      </div> 
    </div>
       
  </div>
</div>