---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Departments</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header page-header-large">
        <h1>Departments</h1>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search within departments...">
            <div class="input-group-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-md-offset-1">
          
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="main-sidebar navigation-sidebar page-search">
        <form id="" class="search-filters">
          <h4>Filter by department</h4>
          <label for="careGroup">Care Group</label>
              <select name="careGroup" class="form-control selectpicker">
                <option>All Care Groups</option>
                <option>Corporate services</option>
                <option>Emergency Care</option>
                <option>Medicine and Pharmacy Services</option>
                <option>OSCCA</option>
                <option>MSK</option>
                <option>LEGION</option>
              </select>

          <label for="directorate">Directorate</label>
              <select name="directorate" class="form-control selectpicker" data-live-search="true">
                <option>All Directorates</option>
                <option>Emergency Care</option>
                <option>Gastro</option>
                <option>Medicine</option>
                <option>Pharmacy Services</option>
                <option>Operating Services</option>
                <option>Etc.</option>
              </select>
          
                    <h4>Filter by alphanumerical</h4>

          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group btn-block" role="group" aria-label="A-E">
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">A</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">B</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">C</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">D</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">E</a>
            </div>
            <div class="btn-group btn-block" role="group" aria-label="F-J">  
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">F</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">G</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">H</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">I</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">J</a>
            </div>
            <div class="btn-group btn-block" role="group" aria-label="K-O">
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">K</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">L</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">M</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">N</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">O</a>
            </div>
            <div class="btn-group btn-block" role="group" aria-label="P-T">
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">P</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">Q</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">R</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">S</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">T</a>
            </div>
            <div class="btn-group btn-block" role="group" aria-label="U-Y">
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">U</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">V</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">W</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">X</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">Y</a> 
            </div>
            <div class="btn-group btn-block" role="group" aria-label="Z-numerical">
              <a href="#" class="btn btn-default btn-fifth btn-wire" role="button">Z</a> 
              <a href="#" class="btn btn-default btn-fifth btn-wire" role="button">0-9</a>
            </div>
          </div>
          
          <h4>Filter by location</h4>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Northern General
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Royal Hallamshire
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Charles Clifford
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Weston Park
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Jessop Wing
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Community
            </label>
          </div>
          
          <h4>Filter by department type</h4>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Medical/Clinical
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Corporate/Administrative
            </label>
          </div>
        </form> 

      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="page-wrapper">
            <div class="page-content">
              <div class="search-panel">
                <span class="label label-info">
                  67 results
                </span>
              </div>
              
              <div class="search-container">
                
                <ol class="search-results">
                  <li class="search-result">
                    <h2><a href="#">Department Title</a></h2>
                    <div class="row">
                      <div class="col-md-9">
                        One-liner about the department 
                      </div>
                      <div class="col-md-3">
                        <button class="btn btn-default btn-xs btn-related-services" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          View all pages
                          <span class="caret"></span>
                        </button>
                      </div>
                    </div>

                    <div class="collapse" id="collapseExample">
                      <div class="well">
                        <h3><a href="#">Department Title</a></h3>
                        <hr>
                        <ol class="list-unstyled list-inline">
                          <li><a href="#">sub page</a></li>
                          <li><a href="#">sub page</a></li>
                          <li><a href="#">sub page</a></li>
                          <li><a href="#">sub page</a></li>
                        </ol>
                        
                        <h3><a href="#">Related services</a></h3>
                        <hr>
                        <ol class="list-unstyled list-inline">
                          <li><a href="#">related department</a></li>
                          <li><a href="#">related department</a></li>
                          <li><a href="#">related department</a></li>
                          <li><a href="#">related department</a></li>
                        </ol>
                      </div>
                    </div>
                    
                    <small>
                      <ul class="list-inline">
                        <li><a href="#">Care group / Corporate Service</a></li>
                        <li><a href="#">Directorate / Service</a></li>
                        <li><a href="#">Location/s</a></li>
                      </ul>
                    </small>
                  </li>
                  
                  
                  <li class="search-result">
                    <h2><a href="#">Communications</a></h2>
                    
                    <div class="row">
                      <div class="col-md-9">
                        <p>Internal and external communications department. Responsible for all Trust marketing materials and web design.</p>
                      </div>
                      <div class="col-md-3">
                        <button class="btn btn-default btn-xs btn-related-services" type="button" data-toggle="collapse" data-target="#collapseComms" aria-expanded="false" aria-controls="collapseExample">
                          View all pages
                          <span class="caret"></span>
                        </button>
                      </div>
                    </div>
                    
                    <div class="collapse" id="collapseComms">
                      <div class="well">
                        <h3><a href="#">Communications</a></h3>
                        <hr>
                        <ol class="list-unstyled list-inline">
                          <li><a href="#">Emails</a></li>
                          <li><a href="#">Dealing with the media</a></li>
                          <li><a href="#">PR &amp; Marketing</a></li>
                          <li><a href="#">Poster printing</a></li>
                          <li><a href="#">Social Media</a></li>
                          <li><a href="#">Websites</a></li>
                          <li><a href="#">Brand Guidelines</a></li>
                        </ol>
                        
                        <h3><a href="#">Related services</a></h3>
                        <hr>
                        <ol class="list-unstyled list-inline">
                          <li><a href="#">Print Services (Xerox)</a></li>
                          <li><a href="#">Medical Photography and Videography</a></li>
                          <li><a href="#">Telecommunications</a></li>
                          <li><a href="#">Intranet</a></li>
                        </ol>
                          
                      </div>
                    </div>
                    
                    <small>
                      <ul class="list-inline">
                        <li><a href="#">Corporate Services</a></li>
                        <li><a href="#">Chief Executive's Office</a></li>
                        <li><a href="#">All Locations</a></li>
                      </ul>
                    </small>
                  </li>
                  
                  
                  
                  
                </ol>

              </div>
              
              
            
            </div>
          </div>
        </div>

      </div> 
    </div>
       
  </div>
</div>