---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Departments</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header page-header-large">
        <h1>Departments</h1>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search within departments...">
            <div class="input-group-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-md-offset-1">
          <form class="form-inline pull-right">
            <label for="sortBy">Sort by</label>
            <select name="careGroup" class="form-control">
              <option>ASC (A-Z)</option>
              <option>DESC (Z-A)</option>
            </select>
          </form> 
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="main-sidebar navigation-sidebar page-search">
        <form>
          <label for="careGroup">Care Group</label>
              <select name="careGroup" class="form-control">
                <option>All Care Groups</option>
                <option>Corporate services</option>
                <option>Emergency Care</option>
                <option>Medicine and Pharmacy Services</option>
                <option>OSCCA</option>
                <option>MSK</option>
                <option>LEGION</option>
              </select>
            </form>   
        
        <form>
          <label for="directorate">Directorate</label>
              <select name="directorate" class="form-control">
                <option>All Directorates</option>
                <option>Emergency Care</option>
                <option>Gastro</option>
                <option>Medicine</option>
                <option>Pharmacy Services</option>
                <option>Operating Services</option>
                <option>Etc.</option>
              </select>
            </form> 

      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="page-wrapper">
            <div class="page-content">
              <div class="search-panel">
                <span class="label label-info">
                  67 results
                </span>
              </div>
              
              <div class="search-container">
                
                <ol class="search-results">
                  <li class="search-result">
                    <h2><a href="#">Department Title</a></h2>
                    <small><a href="#">Care group / Corporate Service</a></small>
                    <div class="dropdown">
                      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Related services
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </li>
                  
                  <li class="search-result">
                    <h2><a href="#">Department Title</a></h2>
                    <small><a href="#">Care group / Corporate Service</a></small>
                    <div class="dropdown">
                      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Related services
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </li>
                  
                  <li class="search-result">
                    <h2><a href="#">Department Title</a></h2>
                    <small><a href="#">Care group / Corporate Service</a></small>
                    <div class="dropdown">
                      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Related services
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </li>
                  
                  <li class="search-result">
                    <h2><a href="#">Department Title</a></h2>
                    <small><a href="#">Care group / Corporate Service</a></small>
                    <div class="dropdown">
                      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Related services
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </li>
                  
                  <li class="search-result">
                    <h2><a href="#">Department Title</a></h2>
                    <small><a href="#">Care group / Corporate Service</a></small>
                    <div class="dropdown">
                      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Related services
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </div>
                  </li>
                </ol>

              </div>
              
              
            
            </div>
          </div>
        </div>

      </div> 
    </div>
       
  </div>
</div>