---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Directory</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header page-header-large">
        <h1>Directory</h1>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search within directory...">
            <div class="input-group-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-md-offset-1">
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="main-sidebar navigation-sidebar page-search">
        <form id="" class="search-filters">
          <h4>Filter by department</h4>
          <label for="careGroup">Care Group</label>
              <select name="careGroup" class="form-control selectpicker">
                <option>All Care Groups</option>
                <option>Corporate services</option>
                <option>Emergency Care</option>
                <option>Medicine and Pharmacy Services</option>
                <option>OSCCA</option>
                <option>MSK</option>
                <option>LEGION</option>
              </select>

          <label for="directorate">Directorate</label>
              <select name="directorate" class="form-control selectpicker" data-live-search="true">
                <option>All Directorates</option>
                <option>Emergency Care</option>
                <option>Gastro</option>
                <option>Medicine</option>
                <option>Pharmacy Services</option>
                <option>Operating Services</option>
                <option>Etc.</option>
              </select>
          
          <h4>Filter by staff role</h4>
          <label for="staffGroup">Staff Group</label>
              <select name="staffGroup" class="form-control selectpicker">
                <option>All Staff Groups</option>
                <option>Allied Health Professional</option>
                <option>Administrative &amp; Clerical</option>
                <option>Medical &amp; Dental</option>
                <option>Nursing &amp; Midwifery</option>
                <option>Etc.</option>
              </select>
          
          <label for="staffGroup">Job title</label>
              <select name="staffGroup" class="form-control selectpicker" data-live-search="true">
                <option>All Job titles</option>
                <option>Allied Health Professional</option>
                <option>Administrative &amp; Clerical</option>
                <option>Medical &amp; Dental</option>
                <option>Nursing &amp; Midwifery</option>
                <option>Etc.</option>
              </select>

          
          <h4>Filter by location</h4>
          <label for="directorate">Ward</label>
              <select name="directorate" class="form-control selectpicker" data-live-search="true">
                <option>All Wards</option>
                <option>L1</option>
                <option>L2</option>
                <option>Medicine</option>
                <option>Pharmacy Services</option>
                <option>Operating Services</option>
                <option>Etc.</option>
              </select>
          
          <h5 class="header-label">Building</h5>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Northern General
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Royal Hallamshire
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Charles Clifford
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Weston Park
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Jessop Wing
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Community
            </label>
          </div>
        </form> 

      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="page-wrapper">
            <div class="page-content">
              <div class="search-panel">
                <span class="label label-info">
                  67 results
                </span>
              </div>
              
              <div class="search-container">
                
                <ol class="search-results">
                  <li class="search-result">
                    
                    <div class="row">
                      <div class="col-md-9">
                        <h2><a href="#">Person's name</a></h2>
                          Job title

                          <ul class="list-inline">
                            <li>011426 <strong>82222</strong></li>
                            <li><a href="#">email@sth.nhs.uk</a></li>
                          </ul>

                          <small>
                            <ul class="list-inline">
                              <li><a href="#">Care group</a></li>
                              <li><a href="#">Department</a></li>
                              <li><a href="#">Location</a></li>
                            </ul>
                          </small>
                      </div>
                      
                      <div class="col-md-3">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Related <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Line Manager</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Colleague</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Related person...</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  
                  <li class="search-result">
                    
                    <div class="row">
                      <div class="col-md-9">
                        <h2><a href="#">Andrew Duckworth</a></h2>
                          Online &amp; Social Media Specialist

                          <ul class="list-inline">
                            <li>011426 <strong>82222</strong></li>
                            <li><a href="#">andrew.duckworth@sth.nhs.uk</a></li>
                          </ul>

                          <small>
                            <ul class="list-inline">
                              <li><a href="#">Corporate Services</a></li>
                              <li><a href="#">Communications</a></li>
                              <li><a href="#">Royal Hallamshire</a></li>
                            </ul>
                          </small>
                      </div>
                      
                      <div class="col-md-3">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Related <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Julie Phelan</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Laura Kirby</a></li>
                            <li><a href="#">Emma Kirby</a></li>
                            <li><a href="#">John Birch</a></li>
                            <li><a href="#">Claudia Blake</a></li>
                            <li><a href="#">Katy Davison</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Sharon Thornton-Hurd</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  
                  
                  
                  
                  
                  
                  
                </ol>

              </div>
              
              
            
            </div>
          </div>
        </div>

      </div> 
    </div>
       
  </div>
</div>