---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Documents</a></li>
          <li class="active">Document title</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header">
        <h1>Document title</h1>
      </div>
    </div>

    <div class="col-md-3">
      <div class="main-sidebar">
        
        <%= link_to "Return to documents", "documents.html" %>

      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="page-wrapper">
            <div class="page-content">
              <h2 class="quiet">Patient Leaflet</h2>
              <p class="lead">One-liner description</p>
            </div>
            <h3><a href="#">Document title</a></h3>
            <p>File size</p>
            <hr>
            
            <div class="row">
              <div class="col-md-6">
                <dl>
                  <dt>PIL Number</dt>
                  <dd><a href="#">PIL Number</a></dd>
                  <dt>First uploaded:</dt>
                  <dd><a href="#">Date of first update</a></dd>
                  <dt>Last updated:</dt>
                  <dd><a href="#">Date of last update</a></dd>
                  <dt>File type:</dt>
                  <dd><a href="#">File type</a></dd>
                  <dt>Full file name:</dt>
                  <dd><a href="#">Full file name</a></dd>
                </dl>
              </div>
              
              <div class="col-md-6">
                <dl>
                  <dt>PD Number</dt>
                  <dd><a href="#">PD number</a></dd>
                  <dt>File Owner</dt>
                  <dd><a href="#">File Owner</a></dd>
                  <dt>Department:</dt>
                  <dd><a href="#">Department</a></dd>
                  <dt>Directorate:</dt>
                  <dd><a href="#">Directorate</a></dd>
                  <dt>Care group:</dt>
                  <dd><a href="#">Care group</a></dd>
                </dl>
              </div>
            </div>
            
            <hr>
            
            <ul class="list-inline">
              <li><a href="#">Topics</a></li>
              <li><a href="#">Topics</a></li>
              <li><a href="#">Topics</a></li>
              <li><a href="#">Topics</a></li>
            </ul>

      </div> 
    </div>
    
      <div class="col-md-3 col-md-offset-1">
        <div class="sidebar-secondary">
        </div>
      
          <aside role="complementary" class="page-advert-sidebar">
            optional sidebar
          </aside>
        </div>
      </div>
    </div>
    
    
       
  </div>
</div>