---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Documents</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header page-header-large">
        <h1>Documents</h1>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          
          <ul class="nav nav-pills nav-pills-search">
            <li role="presentation" class="active"><a href="#">All</a></li>
            <li role="presentation"><a href="#">Clinical Guidelines</a></li>
            <li role="presentation"><a href="#">Controlled Documents</a></li>
            <li role="presentation"><a href="#">Patient Leaflets</a></li>
          </ul>

          
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search within documents...">
            <div class="input-group-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-md-offset-1">
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="main-sidebar navigation-sidebar page-search">
        <form id="" class="search-filters">
          
          <h4>Document Type</h4>
          <label for="fileType">File Type</label>
          <select name="fileType" class="form-control selectpicker" data-live-search="true">
                <option>All Types</option>
                <option>Document (PDF/DOC/PUB)</option>
                <option>Image (JPG/GIF)</option>
                <option>Presentation (PPT)</option>
                <option>Spreadsheet (XLS)</option>
                <option>Video (WMV)</option> 
              </select>

          <h4>Filter by department</h4>
          <label for="careGroup">Care group</label>
              <select name="careGroup" class="form-control selectpicker">
                <option>All Care Groups</option>
                <option>Corporate services</option>
                <option>Emergency Care</option>
                <option>Medicine and Pharmacy Services</option>
                <option>OSCCA</option>
                <option>MSK</option>
                <option>LEGION</option>
              </select>

          <label for="directorate">Directorate</label>
              <select name="directorate" class="form-control selectpicker" data-live-search="true">
                <option>All Directorates</option>
                <option>Emergency Care</option>
                <option>Gastro</option>
                <option>Medicine</option>
                <option>Pharmacy Services</option>
                <option>Operating Services</option>
                <option>Etc.</option>
              </select>
          
          <label for="department">Department</label>
              <select name="department" class="form-control selectpicker" data-live-search="true">
                <option>All Departments</option>
                <option>Emergency Care</option>
                <option>Gastro</option>
                <option>Medicine</option>
                <option>Pharmacy Services</option>
                <option>Operating Services</option>
                <option>Etc.</option>
              </select>
          
          <h4>Filter by topic</h4>
          <select name="directorate" class="form-control selectpicker" data-live-search="true">
                <option>All Topics</option>
                <option>Emergency Care</option>
                <option>Gastro</option>
                <option>Medicine</option>
                <option>Pharmacy Services</option>
                <option>Operating Services</option>
                <option>Etc.</option>
              </select>
          
          <h4>Filter by alphanumerical</h4>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group btn-block" role="group" aria-label="A-E">
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">A</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">B</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">C</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">D</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">E</a>
            </div>
            <div class="btn-group btn-block" role="group" aria-label="F-J">  
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">F</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">G</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">H</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">I</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">J</a>
            </div>
            <div class="btn-group btn-block" role="group" aria-label="K-O">
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">K</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">L</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">M</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">N</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">O</a>
            </div>
            <div class="btn-group btn-block" role="group" aria-label="P-T">
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">P</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">Q</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">R</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">S</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">T</a>
            </div>
            <div class="btn-group btn-block" role="group" aria-label="U-Y">
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">U</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">V</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">W</a>
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">X</a> 
              <a href="#" class="btn btn-default btn-wire btn-fifth" role="button">Y</a> 
            </div>
            <div class="btn-group btn-block" role="group" aria-label="Z-numerical">
              <a href="#" class="btn btn-default btn-fifth btn-wire" role="button">Z</a> 
              <a href="#" class="btn btn-default btn-fifth btn-wire" role="button">0-9</a>
            </div>
          </div>

          <h4>Filter by location</h4>
          <label for="directorate">Ward</label>
              <select name="directorate" class="form-control selectpicker" data-live-search="true">
                <option>All Wards</option>
                <option>L1</option>
                <option>L2</option>
                <option>Medicine</option>
                <option>Pharmacy Services</option>
                <option>Operating Services</option>
                <option>Etc.</option>
              </select>
          
          <h5 class="header-label">Building</h5>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Northern General
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Royal Hallamshire
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Charles Clifford
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Weston Park
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Jessop Wing
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="">
              Community
            </label>
          </div>
        </form> 

      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="page-wrapper">
            <div class="page-content">
              <div class="search-panel">
                <span class="label label-info">
                  67 results
                </span>
              </div>
              
              <div class="search-container">
                
                <ol class="search-results">
                  

                  
                  <li class="search-result">
                     <strong>Controlled document</strong>              
                      <div class="row">
                        <div class="col-md-9">
                          <h2><a href="#">Document title</a></h2>
                          Description if any of the document
                        </div>
                        <div class="col-md-3">
                          Date of last update
                          <a href="#">Download/Open Document</a>
                        </div>
                      </div>

                      <small>
                        <ul class="list-inline">
                          <li><a href="#">File type</a></li>
                          <li><a href="#">Department</a></li>
                          <li><a href="#">Directorate</a></li>
                          <li><a href="#">Care Group</a></li>
                          <li><a href="#">Location (Hospital building)</a></li>
                        </ul>
                      </small>
                  </li>
                  
                  <li class="search-result">
                     <strong>Controlled document</strong>              
                      <div class="row">
                        <div class="col-md-9">
                          <h2><a href="#">Document title</a></h2>
                          Description if any of the document
                        </div>
                        <div class="col-md-3">
                          Date of last update
                          <a href="#">Download/Open Document</a>
                        </div>
                      </div>

                      <small>
                        <ul class="list-inline">
                          <li><a href="#">File type</a></li>
                          <li><a href="#">Department</a></li>
                          <li><a href="#">Directorate</a></li>
                          <li><a href="#">Care Group</a></li>
                          <li><a href="#">Location (Hospital building)</a></li>
                        </ul>
                      </small>
                  </li>
                  
                  <li class="search-result">
                     <strong>Controlled document</strong>              
                      <div class="row">
                        <div class="col-md-9">
                          <h2><a href="#">Document title</a></h2>
                          Description if any of the document
                        </div>
                        <div class="col-md-3">
                          Date of last update
                          <a href="#">Download/Open Document</a>
                        </div>
                      </div>

                      <small>
                        <ul class="list-inline">
                          <li><a href="#">File type</a></li>
                          <li><a href="#">Department</a></li>
                          <li><a href="#">Directorate</a></li>
                          <li><a href="#">Care Group</a></li>
                          <li><a href="#">Location (Hospital building)</a></li>
                        </ul>
                      </small>
                  </li>
                  
                  <li class="search-result">
                     <strong>Controlled document</strong>              
                      <div class="row">
                        <div class="col-md-9">
                          <h2><a href="#">Document title</a></h2>
                          Description if any of the document
                        </div>
                        <div class="col-md-3">
                          Date of last update
                          <a href="#">Download/Open Document</a>
                        </div>
                      </div>

                      <small>
                        <ul class="list-inline">
                          <li><a href="#">File type</a></li>
                          <li><a href="#">Department</a></li>
                          <li><a href="#">Directorate</a></li>
                          <li><a href="#">Care Group</a></li>
                          <li><a href="#">Location (Hospital building)</a></li>
                        </ul>
                      </small>
                  </li>
                  
                  <li class="search-result">
                     <strong>Controlled document</strong>              
                      <div class="row">
                        <div class="col-md-9">
                          <h2><a href="#">Document title</a></h2>
                          Description if any of the document
                        </div>
                        <div class="col-md-3">
                          Date of last update
                          <a href="#">Download/Open Document</a>
                        </div>
                      </div>

                      <small>
                        <ul class="list-inline">
                          <li><a href="#">File type</a></li>
                          <li><a href="#">Department</a></li>
                          <li><a href="#">Directorate</a></li>
                          <li><a href="#">Care Group</a></li>
                          <li><a href="#">Location (Hospital building)</a></li>
                        </ul>
                      </small>
                  </li>
                  
                  <li class="search-result">
                     <strong>Controlled document</strong>              
                      <div class="row">
                        <div class="col-md-9">
                          <h2><a href="#">Document title</a></h2>
                          Description if any of the document
                        </div>
                        <div class="col-md-3">
                          Date of last update
                          <a href="#">Download/Open Document</a>
                        </div>
                      </div>

                      <small>
                        <ul class="list-inline">
                          <li><a href="#">File type</a></li>
                          <li><a href="#">Department</a></li>
                          <li><a href="#">Directorate</a></li>
                          <li><a href="#">Care Group</a></li>
                          <li><a href="#">Location (Hospital building)</a></li>
                        </ul>
                      </small>
                  </li>
                  
                  <li class="search-result">
                     <strong>Controlled document</strong>              
                      <div class="row">
                        <div class="col-md-9">
                          <h2><a href="#">Document title</a></h2>
                          Description if any of the document
                        </div>
                        <div class="col-md-3">
                          Date of last update
                          <a href="#">Download/Open Document</a>
                        </div>
                      </div>

                      <small>
                        <ul class="list-inline">
                          <li><a href="#">File type</a></li>
                          <li><a href="#">Department</a></li>
                          <li><a href="#">Directorate</a></li>
                          <li><a href="#">Care Group</a></li>
                          <li><a href="#">Location (Hospital building)</a></li>
                        </ul>
                      </small>
                  </li>
                  
                  <li class="search-result">
                     <strong>Controlled document</strong>              
                      <div class="row">
                        <div class="col-md-9">
                          <h2><a href="#">Document title</a></h2>
                          Description if any of the document
                        </div>
                        <div class="col-md-3">
                          Date of last update
                          <a href="#">Download/Open Document</a>
                        </div>
                      </div>

                      <small>
                        <ul class="list-inline">
                          <li><a href="#">File type</a></li>
                          <li><a href="#">Department</a></li>
                          <li><a href="#">Directorate</a></li>
                          <li><a href="#">Care Group</a></li>
                          <li><a href="#">Location (Hospital building)</a></li>
                        </ul>
                      </small>
                  </li>
                  
                  <li class="search-result">
                     <strong>Controlled document</strong>              
                      <div class="row">
                        <div class="col-md-9">
                          <h2><a href="#">Document title</a></h2>
                          Description if any of the document
                        </div>
                        <div class="col-md-3">
                          Date of last update
                          <a href="#">Download/Open Document</a>
                        </div>
                      </div>

                      <small>
                        <ul class="list-inline">
                          <li><a href="#">File type</a></li>
                          <li><a href="#">Department</a></li>
                          <li><a href="#">Directorate</a></li>
                          <li><a href="#">Care Group</a></li>
                          <li><a href="#">Location (Hospital building)</a></li>
                        </ul>
                      </small>
                  </li>
                  
                  <li class="search-result">
                     <strong>Controlled document</strong>              
                      <div class="row">
                        <div class="col-md-9">
                          <h2><a href="#">Document title</a></h2>
                          Description if any of the document
                        </div>
                        <div class="col-md-3">
                          Date of last update
                          <a href="#">Download/Open Document</a>
                        </div>
                      </div>

                      <small>
                        <ul class="list-inline">
                          <li><a href="#">File type</a></li>
                          <li><a href="#">Department</a></li>
                          <li><a href="#">Directorate</a></li>
                          <li><a href="#">Care Group</a></li>
                          <li><a href="#">Location (Hospital building)</a></li>
                        </ul>
                      </small>
                  </li>
                  
                  <li class="search-result">
                     <strong>Controlled document</strong>              
                      <div class="row">
                        <div class="col-md-9">
                          <h2><a href="#">Document title</a></h2>
                          Description if any of the document
                        </div>
                        <div class="col-md-3">
                          Date of last update
                          <a href="#">Download/Open Document</a>
                        </div>
                      </div>

                      <small>
                        <ul class="list-inline">
                          <li><a href="#">File type</a></li>
                          <li><a href="#">Department</a></li>
                          <li><a href="#">Directorate</a></li>
                          <li><a href="#">Care Group</a></li>
                          <li><a href="#">Location (Hospital building)</a></li>
                        </ul>
                      </small>
                  </li>

                </ol>

              </div>
              
              
            
            </div>
          </div>
        </div>

      </div> 
    </div>
       
  </div>
</div>