---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Forums</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header page-header-large">
        <h1>Forums</h1>
      </div>
    
      
      <div class="row">
        <div class="col-md-8">
        </div>
        
        <div class="col-md-3 col-md-offset-1">
      </div>
    </div>
      </div>

    <div class="col-md-3">
      <div class="main-sidebar navigation-sidebar page-search">
        <form id="" class="search-filters">
          <h4>Search news items</h4>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search within forums...">
            <div class="input-group-addon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </div>
        </form>
        
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="#">Staffside</a></li>
            <li role="presentation"><a href="#">Marketplace</a></li>
            <li role="presentation"><a href="#">Ask me anything</a></li>
          </ul>

        
        
      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="page-wrapper">
            <div class="page-content">

              

              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Forum</th>
                    <th>Topics</th>
                    <th>Posts</th>
                    <th>Recent</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Staffside</td>
                    <td>3</td>
                    <td>3</td>
                    <td><a>Last ...</a></td>
                  </tr>
                  <tr>
                    
                    <td>Marketplace</td>
                    <td>17</td>
                    <td>6</td>
                    <td><a>last ...</a></td>
                  </tr>
                  <tr>
                    <td>Longer forum title</td>
                    <td>14</td>
                    <td>170</td>
                    <td><a>last ...</a></td>
                  </tr>
                </tbody>
              </table>
              
            
            </div>
          </div>
        </div>

      </div> 
    </div>
       
  </div>
</div>