---
title: Welcome to your new intranet | nww.sth.nhs.uk
---

<section id="homepage" class="homepage">
  <div class="container">
    <div class="col-md-3">
      <aside class="sidebar-homepage">

        <div class="btn-group">
          <button type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            I want to <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">My Departments</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">My Bookmarks</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">My Groups</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
        
      </aside>
    </div>
    
    <div class="col-md-6">
      <%= image_tag "slider-example.PNG", width: "100%" %>
      
      <main class="feed feed-homepage">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Recent news</h2>
          </div>
          
        <ol class="list-group list-feed">
          <li class="list-group-item">
            <div class="category-label">
              News
            </div>
            <%= image_tag lorem.image('600x300', :text => '600x300') %>
            <small class="post-date">13 March</small>
            <h3><a href="#">Sheffield Hospitals awarded £115,000 for patient Arts sessions</a></h3>
            <p>Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in</p>
            <a href="#">Find out more</a>
          </li>
          <li class="list-group-item">
            <small class="post-date">13 March</small>
            <h3><a href="#">Informatics End User Computing eSurvey</a></h3>
            <p>Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in</p>
            <a href="#">Find out more</a>
          </li>
          <li class="list-group-item">
            <div class="category-label">
              News
            </div>
            <%= image_tag lorem.image('600x300', :text => '600x300') %>
            <small class="post-date">13 March</small>
            <h3><a href="#">Sheffield Hospitals to lead new virtual surgical centre of expertise</a></h3>
            <p>Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in</p>
            <a href="#">Find out more</a>
          </li>
          <li class="list-group-item">
            <small class="post-date">13 March</small>
            <h3><a href="#">Dapibus ac facilisis in</a></h3>
            <p>Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in</p>
            <a href="#">Find out more</a>
          </li>
          <li class="list-group-item">
            <div class="category-label-event">
              Event
            </div>
            <%= image_tag lorem.image('600x300', :text => '600x300') %>
            <small class="post-date">13 March</small>
            <h3><a href="#">Dapibus ac facilisis in</a></h3>
            <p>Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in Dapibus ac facilisis in</p>
            <a href="#">Find out more</a>
          </li>
        </ol>
        </div>
      </main>
      
    </div>
    
    <div class="col-md-3">
      <aside class="sidebar-homepage">
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Directory search</h3>
          </div>
          <div class="panel-body">
            <input id="searchForm" type="text" class="form-control" placeholder="Search directory">
          </div>
          
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Recently searched</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Upcoming events</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>