---
title: Mental Capacity Act | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Mental Capacity Act</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header">
        <h1>Mental Capacity Act</h1> 
      </div>
    </div>

    <div class="col-md-3">
      <div class="main-sidebar">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Sections</h3>
          </div>
          <div class="panel-body">
            <ol>
              <li><a href="#Introduction">Introduction</a></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="page-wrapper">
            <div class="page-content">
              <h2 id="Introduction">1. Introduction</h2>
              <p>This guidance is to support staff when caring for patients who may not be able to make their own decisions.</p>
              <p>The Mental Capacity Act makes it clear who can take decisions in which situations and how they should go about this. All healthcare staff have a duty of care to act in the patient's best interests.</p>
              <h2>2. Principles</h2>
              <p>The Mental Capacity Act is underpinned by a set of five key principles:</p>
              <ul>
                <li>each person has the right to make his or her own decisions and must be assumed to have capacity to do so unless it is proved otherwise</li>
                <li>each person has the right to be supported to make their own decisions before anyone concludes that they cannot make their own decisions</li>
                <li>each person must retain the right to make what might be seen as eccentric or unwise decisions</li>
                <li>anything done for or on behalf of a person without capacity must be in their best interests</li>
                <li>anything done for or on behalf of a person without capacity should be the least restrictive of their basic rights and freedoms</li>
              </ul>
              <p>This guidance generally applies to patients over the age of 16 except only people aged 18 or over can make a Lasting Power of Attorney and make an advance decision to refuse medical treatment.</p>
              <p>Within the code, those under the age of 16 are referred to as children whilst those aged 16-17 are referred to as ‘young persons’.</p>
              <p>Care and treatment of children is generally governed by common law principles. This will also apply to young people if they are “overwhelmed by the decision”.</p>
              <p>There is an overlap with the Children’s Act and many matters involving person’s under 18 may be resolved under that Act.</p>
              <h2>3. Assessment of Capacity</h2>
              <p>A person is unable to make a decision for himself or herself if they are unable to:</p>
              <ul>
                <li>Understand the information relevant to the decision retain that information</li>
                <li>Use or weigh up that information as part of the process of making the decision</li>
                <li>Communicate their decision, whether by talking, using sign language or any other means</li>
              </ul>
              <h2>4. Treatment on the Basis of “Best Interests”</h2>
              <p>Any act or decision on behalf of a patient who lacks capacity must be in their best interests:</p>
              <ul>
                <li>Best interests checklist</li>
                <li>Code of Practice acknowledges that you cannot give an exhaustive account of best interests but checklist includes factors that must always be considered</li>
              </ul>
              <h3>Best Interests Checklist</h3>
              <ol>
                <li>Consider whether it is likely that the person will, at some time, have capacity in relation to the matter in question and if so, when?</li>
                <li>So far as reasonably practicable, permit and encourage the person to participate, or to improve his ability to participate, as fully as possible in any acts done for him and any decision affecting him.</li>
                <li>Consider past and present wishes and feelings (and in particular any relevant written statements made when he had capacity).</li>
                <li>Consider beliefs and values that would be likely to influence his decision if he had capacity.</li>
                <li>Consider the other factors that he would be likely to consider if he were able to do so.</li>
                <li>Where related to life sustaining treatment must not be motivated by a desire to bring about death (it is recognised by the Code that there will be some limited cases for example in the final stages of terminal illness where treatment is futile or where there is no prospect of recovery, so that it may be in the best interests of the patient to withdraw or withhold treatment provided all aspects of the checklist are considered).</li>
              </ol>
              <p>S4(9) of the Act provides protection to a person (where the Court is not involved) who acts or makes a decision in the “reasonable belief” that they are doing so in the best interests of a person who lacks capacity. You must however, be able to show that you have complied with the checklist and be able to point to objective reasons to demonstrate that you were acting in the patient’s best interests.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-3 col-md-offset-1">
          <aside role="complementary" class="page-advert-sidebar">
            optional sidebar
            <br>
            <%= image_tag "cqc-web-banner.jpg", class: "img-responsive" %>
          </aside>
        </div>
      </div>
      
      
      
    </div>
    
    
  </div>
  
</div>