---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Team</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header">
        <h1>Team name</h1>
      </div>
    </div>

    <div class="col-md-3">
      <div class="main-sidebar">
        
        <%= link_to "Return to directory", "directory.html" %>

      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="page-wrapper">
            <div class="page-content">
              <%= image_tag lorem.image('150x150', :text => '150x150'), class: "alignright" %>
              <p><%= lorem.sentences 3 %></p>
            </div>
            
            <div class="clearfix">
              
            </div>
                <dl>
                  <dt>Managers:</dt>
                  <dd>Manager</dd>
                </dl>

            
            <ol class="search-results">
                  <li class="search-result">
                    
                    <div class="row">
                      <div class="col-md-9">
                        <h2><a href="#">Person's name</a></h2>
                          Job title

                          <ul class="list-inline">
                            <li>011426 <strong>82222</strong></li>
                            <li><a href="#">email@sth.nhs.uk</a></li>
                          </ul>

                          <small>
                            <ul class="list-inline">
                              <li><a href="#">Care group</a></li>
                              <li><a href="#">Department</a></li>
                              <li><a href="#">Location</a></li>
                            </ul>
                          </small>
                      </div>
                      
                      <div class="col-md-3">
                        <div class="btn-group">
                          <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Related <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Line Manager</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Colleague</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Related person...</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
              </li></ol>
            
            <ul class="list-inline">
              <li><a href="#">Care group</a></li>
              <li><a href="#">Department</a></li>
              <li><a href="#">Location</a></li>
            </ul>
                
            
            

      </div> 
    </div>
    
      <div class="col-md-3 col-md-offset-1">
        <div class="sidebar-secondary">
        </div>
      
          <aside role="complementary" class="page-advert-sidebar">
            optional sidebar
          </aside>
        </div>
      </div>
    </div>
    
    
       
  </div>
</div>