---
title: Welcome to your new intranet | nww.sth.nhs.uk
---
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Hospital</a></li>
          <li class="active">Ward</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-md-9 col-md-offset-3">
      <div class="page-header">
        <h1>Ward name</h1>
      </div>
    </div>

    <div class="col-md-3">
      <div class="main-sidebar">
        
        <%= link_to "Return to directory", "directory.html" %>

      </div>
    </div>
    
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <div class="page-wrapper">
            <div class="page-content">
              <%= image_tag lorem.image('150x150', :text => '150x150'), class: "alignright" %>
              <p><%= lorem.sentences 3 %></p>
            </div>
            
            <div class="clearfix">
              
            </div>
            
            <hr>
                <dl>
                  <dt>Ward managers:</dt>
                  <dd>Ward manager</dd>
                </dl>

            
            <hr>
            
            <dl>
                  <dt>Teams:</dt>
                  <dd>Team</dd>
                </dl>
            
            <hr>
            
            <ul class="list-inline">
              <li><a href="#">Care group</a></li>
              <li><a href="#">Department</a></li>
              <li><a href="#">Location</a></li>
            </ul>
                
            
            

      </div> 
    </div>
    
      <div class="col-md-3 col-md-offset-1">
        <div class="sidebar-secondary">
        </div>
      
          <aside role="complementary" class="page-advert-sidebar">
            optional sidebar
          </aside>
        </div>
      </div>
    </div>
    
    
       
  </div>
</div>